<!--
    wifi_bandwidth.html
    by Rob McGuire-Dale, 9/22/2009
    
    This screen displays a graphical representation of the bandwidth usage of
    the wifi access points around campus.
-->
<style>
 #{{screen.hash}} .content {
	position:absolute;
	width:1320px;
	height:728px;
	padding:20px;
    }
    
    #{{screen.hash}}_mask{
	position:absolute;
	border: 17px solid white;
	top:20px;
	left:225px;
	height:695px;
	width:879px;
    }
    
    #{{screen.hash}} .background {
	background-color:white;
    }
</style>
<script type="text/javascript">
function {{screen.hash}}()
{
    this.init = function()
    {
        safelog('wifi_bandwidth: initializing...');
    
        // Initialize the image refresher
        $("#{{screen.hash}}_img").refreshImage({
            interval: {{screen.imgRefreshInterval}}
        });

        $("#{{screen.hash}}_img").scale("center","stretch");
    }

    this.start = function() 
    {
        safelog('wifi_bandwidth: starting...');

        // scale the wifi bandwidth image to fit inside the parent
        $("#{{screen.hash}}_img").scale("center","stretch");

        // start the image refresh
        $("#{{screen.hash}}_img").refreshImage("start");
    }
    
    this.stop = function() 
    {
        safelog('wifi_bandwidth: stopping');

        // stop the image refresh
        $("#{{screen.hash}}_img").refreshImage("stop");
    }
    
    this.resize = function()
    {
        $("#{{screen.hash}}_img").scale("center","stretch");
    }
    
} {{screen.hash}} = new {{screen.hash}}();
</script>

<!-- set up the wifi bandwidth map image -------------------------------------->
<div class="background"></div>
<div class="content">
    <img id="{{screen.hash}}_img"
     src="{{screen.img_addr}}"
     class="">
    <div id="{{screen.hash}}_mask">
	
    </div>
</div>
