<!--
    wifi_bandwidth.html
    by Rob McGuire-Dale, 9/22/2009
    
    This screen displays a graphical representation of the bandwidth usage of
    the wifi access points around campus.
-->

<script type="text/javascript">
function wifi_bandwidth()
{
    this.init = function()
    {
        safelog('wifi_bandwidth: initializing...');
    
        // make the image refresh itself at the specified interval
		$("#wifi_bandwidth_img").refreshImage({
            interval:
                {{settings.screens_wifi_bandwidth.imgRefreshInterval}},
            start:true
        });
    }

    this.start = function() 
    {
        safelog('wifi_bandwidth: starting...');

        // scale the wifi bandwidth image to fit inside the parent
        $("#wifi_bandwidth_img").scale("center","stretch");
    }
    
    this.stop = function() 
    {
        safelog('wifi_bandwidth: stopping');
    }
    
    this.onWinResize = function()
    {
        $("#wifi_bandwidth_img").scale("center","stretch");
    }
    
} wifi_bandwidth = new wifi_bandwidth();
</script>

<!-- set up the wifi bandwidth map image -------------------------------------->
<img id="wifi_bandwidth_img"
     src="{{settings.screens_wifi_bandwidth.img_addr}}"
     class="display_tile display_img">
