<!--
    wifi_bandwidth.html
    by Rob McGuire-Dale, 9/22/2009
    
    This screen displays a graphical representation of the bandwidth usage of
    the wifi access points around campus.
-->

<script type="text/javascript">
function {{screen.hash}}()
{
    this.init = function()
    {
        safelog('wifi_bandwidth: initializing...');
    
        // make the image refresh itself at the specified interval
		$("#{{screen.hash}}_img").refreshImage({
            interval:
                {{screen.imgRefreshInterval}},
            start:true
        });
    }

    this.start = function() 
    {
        safelog('wifi_bandwidth: starting...');

        // scale the wifi bandwidth image to fit inside the parent
        $("#{{screen.hash}}_img").scale("center","stretch");
    }
    
    this.stop = function() 
    {
        safelog('wifi_bandwidth: stopping');
    }
    
    this.resize = function()
    {
        $("#{{screen.hash}}_img").scale("center","stretch");
    }
    
} {{screen.hash}} = new {{screen.hash}}();
</script>

<!-- set up the wifi bandwidth map image -------------------------------------->
<img id="{{screen.hash}}_img"
     src="{{screen.img_addr}}"
     class="display_tile display_img">
