<style>
    div#worldScreen {
        position: absolute;
        top:150px;
        left:400px;
        background-color:green;
        width:100px;
        height:100px;
    }
</style>

<script type="text/javascript">
     /*
        Javascript functions for this view.  These are not required,
        just demonstrating how they would be used.
    */
    function world_screen_init() {
        // for this example just output to firebug console
        safelog('WorldScreen is initializing itself');
    }

    function world_screen_start() {
        // for this example just output to firebug console
        safelog('WorldScreen is starting because i was shown');
    }

    function world_screen_stop() {
        // for this example just output to firebug console
        safelog('World screen is stopping because im being hidden');
    }
</script>

<div id="worldScreen">
    WorldScreen
</div>
