<!--
    ftp_traffic.html
    by Rob McGuire-Dale, 9/23/2009
    
    This screen displays a map of the FTP traffic
-->
        
<script type="text/javascript">

function screens_ftp_traffic(){

    this.init = function() {
        safelog('ftp_traffic: initializing...');
    
        // make the image refresh itself at the specified interval
        $("#ftp_traffic_img").refreshImage({
            interval:
                {{settings.screens_ftp_traffic.imgRefreshInterval}},
            start:true
        });
    };

    this.start = function() {
        safelog('ftp_traffic: starting...');

        // scale the wifi usage image to fit inside the parent
        $("#ftp_traffic_img").scale("center");
    };
    
    this.stop = function(){
        safelog('ftp_traffic: stopping');
    };
    
    this.onScreenResize = function() {        
        // re-scale every time the window is resized
        $("#ftp_traffic_img").scale("center");
    };

} ftp_traffic = new screens_ftp_traffic();

</script>
<img id="ftp_traffic_img"
     src="{{settings.screens_ftp_traffic.img_addr}}"
     class="display_tile display_img">
