<!--
    ftp_traffic.html
    by Rob McGuire-Dale, 9/23/2009

    This screen displays a map of the FTP traffic
-->
<style>
    .background{
        background-color:white;
    }
</style>

<script type="text/javascript">

function {{screen.hash}}()
{
    this.init = function()
    {        
        safelog('ftp_traffic: initializing...');

        // make the image refresh itself at the specified interval
        $("#{{screen.hash}}_img").refreshImage({
            interval:{{screen.imgRefreshInterval}},
            start:true
        });
        $("#{{screen.hash}}_img").scale("center");
    };

    this.start = function()
    {
        safelog('ftp_traffic: starting...');

        // scale the wifi usage image to fit inside the parent
        //$("#{{screen.hash}}_img").scale("center");
    };

    this.stop = function()
    {
        safelog('ftp_traffic: stopping');
    };

    this.onScreenResize = function()
    {
        // re-scale every time the window is resized
        $("#{{screen.hash}}_img").scale("center");
    };

} {{screen.hash}} = new {{screen.hash}}();

</script>

<div class="background"></div>
<div class="content">
    <img id="{{screen.hash}}_img" src="{{screen.img_addr}}" />
</div>

