<!--
    ftp_traffic.html
    by Rob McGuire-Dale, 9/23/2009
    
    This screen displays a map of the FTP traffic
-->
        
<script type="text/javascript">

    function ftp_traffic_init() {
        safelog('ftp_traffic: initializing...');
    
        // make the image refresh itself at the specified interval
		$("#ftp_traffic_img").refreshImage({
            interval:
                {{settings.screens_ftp_traffic.imgRefreshInterval}},
            start:true
        });
    }

    function ftp_traffic_start() {
        safelog('ftp_traffic: starting...');

        // scale the wifi usage image to fit inside the parent
        $("#ftp_traffic_img").scale("center");
    }
    
    function ftp_traffic_stop() {
        safelog('ftp_traffic: stopping');
    }
    
    function ftp_traffic_onScreenResize() {        
        // re-scale every time the window is resized
        $("#ftp_traffic_img").scale("center");
    }
    
</script>
<img id="ftp_traffic_img"
     src="{{settings.screens_ftp_traffic.img_addr}}"
     class="display_tile display_img">
