<!--
    screen_sponsors.html
    by Rob McGuire-Dale, 9/3/2009

    This screen displays a list of sponsors and friends. 
-->
<style>
    /* debug colors for scrollers
    .cloned{ color:red; }
    .active{ color:yellow; } */
</style>

<script type="text/javascript">

    /////////////////
    // Global Data //
    /////////////////
    
    // sponsor and friend content data. See _loadData below.
    var screen_sponsors_friendsData = null;
    var screen_sponsors_sponsorsData = null;

    // scroller plugin APIs for the friends and sponsors tiles
    var screen_sponsors_friends_scrollAPI = null;
    var screen_sponsors_sponsors_scrollAPI = null;

    ///////////////////
    // Screen Events //
    ///////////////////
    
    function screen_sponsors_init() 
    {
        safelog('screen_sponsors: initializing...');
        
        screen_sponsors_loadData(); // load friends and sponsors data
        screen_sponsors_initTiles(); // initialize the tiles
    }

    function screen_sponsors_start() 
    {
        safelog('screen_sponsors: starting...');
        
        screen_sponsors_refreshTiles();
    }

    function screen_sponsors_stop() 
    {
        safelog('screen_sponsors: stopping');
    }

    function screen_sponsors_onScreenResize() 
    {
        safelog('screen_sponsors: window resized to ' + screenWidth() + "x" +
            screenHeight());
        
        screen_sponsors_refreshTiles();
    }

    ////////////////
    // Tile Setup //
    ////////////////

    function screen_sponsors_initTiles()
    {
        // initialize the scroller plugin for the tiles
        screen_sponsors_friends_scrollAPI = 
            $( ".screen_sponsors_friends" ).scrollable({ 
                vertical:true,
                items:".display_scrollable_items",
                speed:{{settings.screen_sponsors_screen_sponsors.friends_scroll_speed}},
                api:true,
            });
        screen_sponsors_sponsors_scrollAPI = 
            $( ".screen_sponsors_sponsors" ).scrollable({ 
                vertical:true,
                items:".display_scrollable_items",
                speed:{{settings.screen_sponsors_screen_sponsors.sponsors_scroll_speed}},
                api:true,
            });
        
        // initialize auto tile advancement
        screen_sponsors_friends_initAutoAdvance(); 
        screen_sponsors_sponsors_initAutoAdvance(); 
    }

    function screen_sponsors_friends_initAutoAdvance(){
        
        // grab the scroll interval value
        var interval = 
            {{settings.screen_sponsors_screen_sponsors.friends_scroll_interval}};
        
        // Ensure the interval is at least 50 ms > than the advancement speed
        if( {{settings.screen_sponsors_screen_sponsors.friends_scroll_speed}} >
            interval - 50 )
            
            interval = 
                {{settings.screen_sponsors_screen_sponsors.friends_scroll_speed}}
                + 50;
            
        
        // Make sure scolling starts in the middle of the list
        if( screen_sponsors_friends_scrollAPI.getClickIndex() == -1 )
            screen_sponsors_friends_scrollAPI.click( 
                screen_sponsors_friends_scrollAPI.getConf().size/2 );
        
        // Otherwise, advance to the next friend. Tuned to work with circular
        // plugin.
        else
            screen_sponsors_friends_scrollAPI.click( 
                screen_sponsors_friends_scrollAPI.getClickIndex() - 
                 screen_sponsors_friends_scrollAPI.getConf().size + 1 );

        setTimeout('screen_sponsors_friends_initAutoAdvance()', interval );
    }
    
    function screen_sponsors_sponsors_initAutoAdvance()
    {
        // grab the scroll interval value
        var interval = 
            {{settings.screen_sponsors_screen_sponsors.sponsors_scroll_interval}};
        
        // Ensure the interval is at least 50 ms > than the advancement speed
        if( {{settings.screen_sponsors_screen_sponsors.sponsors_scroll_speed}} >
            interval - 50 )
            
            interval = 
                {{settings.screen_sponsors_screen_sponsors.sponsors_scroll_speed}}
                + 50;
            
        
        // Make sure scolling starts in the middle of the list
        if( screen_sponsors_sponsors_scrollAPI.getClickIndex() == -1 )
            screen_sponsors_sponsors_scrollAPI.click( 
                screen_sponsors_sponsors_scrollAPI.getConf().size/2 );
        
        // Otherwise, advance to the next friend. Tuned to work with circular
        // plugin.
        else
            screen_sponsors_sponsors_scrollAPI.click( 
                screen_sponsors_sponsors_scrollAPI.getClickIndex() - 
                 screen_sponsors_sponsors_scrollAPI.getConf().size + 1 );

        setTimeout('screen_sponsors_sponsors_initAutoAdvance()', interval );
    }

    function screen_sponsors_refreshTiles()
    {
        // reposition the tiles
        screen_sponsors_positionTiles();
        
        // populate the friends tile and return the friends per tile page
        screen_sponsors_updateFriendsTile();
        screen_sponsors_updateSponsorsTile();
    }
    
    //////////////////////
    // Data Processing  //
    //////////////////////

    // _updateFriendsTile: fill the friends tile and update scroller info
    function screen_sponsors_updateFriendsTile(){
        
        var curHeight = 0;   // to hold the height of the current item
        var totalHeight = 0; // total height of the items written
        var itemCount = 0;   // number of items written
        
        // grab the height of the container tile
        var tileHeight = $(".screen_sponsors_friends").height();
        safelog( "screen_sponsors: tile height: " + tileHeight );
        
        // clear the friends list
        screen_sponsors_friends_scrollAPI.getItems().remove();
        
        // Fill up the tile with items, wrapping if necessary
        while( totalHeight < tileHeight ){
        
            safelog( "screen_sponsors: writing friend # " + itemCount );

            // Add the next item, wrapping to the first if necessary
            screen_sponsors_friends_scrollAPI.getItemWrap().append(
                "<p class='screen_sponsors_friend_"+itemCount+"'>" + 
                screen_sponsors_friendsData[ 
                    itemCount % screen_sponsors_friendsData.length ] +
                "</p>"
            );
            
            // the *actual* height each item takes up, as positioned by the 
            // scollable plugin (as observed by firebug)
            curHeight = 
                $(".screen_sponsors_friend_" + itemCount ).innerHeight() +
                ($(".screen_sponsors_friend_" + itemCount ).outerHeight(true)-
                $(".screen_sponsors_friend_" + itemCount ).innerHeight())/2;
            safelog( "screen_sponsors: current itemheight: " + curHeight );
            
            // add to the running height total
            totalHeight += curHeight;
            safelog( "screen_sponsors: current total height: " + totalHeight );
            
            // increment the number of items in the written list
            itemCount++;
        }
        
        // update the scroller to include the new items
        screen_sponsors_friends_scrollAPI.reload();
        
        // set new tile page size for the scroller
        screen_sponsors_friends_scrollAPI.getConf().size = itemCount; 
        safelog( "screen_sponsors: Friends written: "+ itemCount );
        
        // make the scroller circular
        $( ".screen_sponsors_friends" ).circular();
    }
    
    // _updateSponsorsTile: fill the sponsors tile and update scroller info
    function screen_sponsors_updateSponsorsTile(){
        
        var curHeight = 0;   // to hold the height of the current item
        var totalHeight = 0; // total height of the items written
        var itemCount = 0;   // number of items written
        
        // grab the size of the data
        var dataLength = screen_sponsors_sponsorsData.length;
        
        // grab the height of the container tile
        var tileHeight = $(".screen_sponsors_sponsors").height();
        safelog( "screen_sponsors: sponsors tile height: " + tileHeight );
        
        // clear the sponsors list
        screen_sponsors_sponsors_scrollAPI.getItems().remove();
        
        // Fill up the tile with items, wrapping if necessary
        while( totalHeight < tileHeight ){
        
            safelog( "screen_sponsors: writing sponsor # " + itemCount );

            // Add the next title, wrapping to the first if necessary
            screen_sponsors_sponsors_scrollAPI.getItemWrap().append(
                "<div class='screen_sponsors_sponsor_"+itemCount+"'><h1>" + 
                screen_sponsors_sponsorsData[ 
                    itemCount % dataLength ].title +
                "</h1></div>"
            );
            
            // Add the next bodies, wrapping to the first if necessary
            for( var i = 0; i < (screen_sponsors_sponsorsData[itemCount%dataLength].body.length); i++ ){
                $(".screen_sponsors_sponsor_"+itemCount).append(
                    "<p>" + 
                    screen_sponsors_sponsorsData[itemCount%dataLength].body[i] +
                    "</p>"
                );
            }
            
            // the *actual* height each item takes up, as positioned by the 
            // scollable plugin (as observed by firebug)
            curHeight = 
                $(".screen_sponsors_sponsor_" + itemCount ).innerHeight() +
                ($(".screen_sponsors_sponsor_" + itemCount ).outerHeight(true)-
                $(".screen_sponsors_sponsor_" + itemCount ).innerHeight())/2;
            safelog( "screen_sponsors: current sponsor height: " + curHeight );
            
            // add to the running height total
            totalHeight += curHeight;
            safelog( "screen_sponsors: current sponsors total height: " + totalHeight );
            
            // increment the number of items in the written list
            itemCount++;
        }
        
        // update the scroller to include the new items
        screen_sponsors_sponsors_scrollAPI.reload();
        
        // set new tile page size for the scroller
        screen_sponsors_sponsors_scrollAPI.getConf().size = itemCount; 
        safelog( "screen_sponsors: Sponsors written: "+ itemCount );
        
        // make the scroller circular
        $( ".screen_sponsors_sponsors" ).circular();
    }
    
    //////////////////////
    // Tile Positioning //
    //////////////////////
    
    function screen_sponsors_positionTiles(){
        
        // set the width of the bottom tiles per the settings
        $('.screen_sponsors_sponsors').width(
            {{settings.screen_sponsors_screen_sponsors.sponsors_max_width}});
        $('.screen_sponsors_friends').width(
            {{settings.screen_sponsors_screen_sponsors.friends_width}});
        
        // if the total tile width is too large to fit in the window,
        // resize the sponsors tile dynamically
        if( $('.screen_sponsors_friends').outerWidth( true ) + 
            $('.screen_sponsors_sponsors').outerWidth( true ) > 
            screenWidth() ){
                
            $('.screen_sponsors_sponsors').width( screenWidth() -
                $('.screen_sponsors_friends').outerWidth( true ) -
                ( $('.screen_sponsors_sponsors').outerWidth( true ) -
                $('.screen_sponsors_sponsors').width() ) );
        }
        
        // position the bottom tiles
        $('.screen_sponsors_friends').css('top',
            $('.screen_sponsors_title').outerHeight( true ) );
        $('.screen_sponsors_friends').css('left', 0 );
        $('.screen_sponsors_sponsors').css('top',
            $('.screen_sponsors_title').outerHeight( true ) );
        $('.screen_sponsors_sponsors').css('left',
            $('.screen_sponsors_friends').outerWidth( true ) );
        
        // set the height of the bottom tiles
        $('.screen_sponsors_sponsors').height( screenHeight() -
            $('.screen_sponsors_title').outerHeight(true) -
            $('.screen_sponsors_sponsors').outerHeight(true) +
            $('.screen_sponsors_sponsors').height());
        $('.screen_sponsors_friends').height( screenHeight() -
            $('.screen_sponsors_title').outerHeight(true) -
            $('.screen_sponsors_friends').outerHeight(true) +
            $('.screen_sponsors_friends').height());
        
        // size the title width to match the width of the bottom tiles
        $('.screen_sponsors_title').width( 
            $('.screen_sponsors_friends').outerWidth( true ) + 
            $('.screen_sponsors_sponsors').outerWidth( true ) -
            ( $('.screen_sponsors_title').outerWidth( true ) -
            $('.screen_sponsors_title').width() ) );
            
        // center the tiles
        $('.screen_sponsors_title').css( 'left', screenWidth()/2 - 
            $('.screen_sponsors_title').outerWidth( true )/2 );
        $('.screen_sponsors_friends').css( 'left', 
            parseInt( $('.screen_sponsors_title').css( 'left' ) ) );
        $('.screen_sponsors_sponsors').css( 'left', 
            parseInt( $('.screen_sponsors_title').css( 'left' ) ) +
            $('.screen_sponsors_friends').outerWidth( true ) );
        
        // position and size gradient overlays
        $('#screen_sponsors_sponsors_gradient').css( 'z-index', 1 );
        $('#screen_sponsors_sponsors_gradient').css( 'top', 
            -( $('#screen_sponsors_sponsors_gradient').outerHeight( true ) - 
            $('#screen_sponsors_sponsors_gradient').height() ) );
        $('#screen_sponsors_sponsors_gradient').css( 'left',
            -( $('#screen_sponsors_sponsors_gradient').outerWidth( true ) - 
            $('#screen_sponsors_sponsors_gradient').width() ) );
        $('#screen_sponsors_sponsors_gradient').height(
            $('.screen_sponsors_sponsors').outerHeight( ) );
        $('#screen_sponsors_sponsors_gradient').width(
            $('.screen_sponsors_sponsors').outerWidth( ) );

        $('#screen_sponsors_friends_gradient').css( 'z-index', 1 );
        $('#screen_sponsors_friends_gradient').css( 'top', 
            -( $('#screen_sponsors_friends_gradient').outerHeight( true ) - 
            $('#screen_sponsors_friends_gradient').height() ) );
        $('#screen_sponsors_friends_gradient').css( 'left',
            -( $('#screen_sponsors_friends_gradient').outerWidth( true ) - 
            $('#screen_sponsors_friends_gradient').width() ) );
        $('#screen_sponsors_friends_gradient').height(
            $('.screen_sponsors_friends').outerHeight( ) );
        $('#screen_sponsors_friends_gradient').width(
            $('.screen_sponsors_friends').outerWidth( ) );
    }
    
    //////////////////
    // Data Loading //
    //////////////////
    
    function screen_sponsors_loadData(){
        
        // load friends data
        screen_sponsors_friendsData = [ 
            "Charles Montgomery Burns 0123456798",
            "Gladys Bouvier",
            "Carl Carlson",
            "Maude Flanders",
            "Professor John Frink",
            "Santa's Little Helper",
            "Kent Brockman",
            "Fat Tony",
            "Apu Nahasapeemapetilon",
            "Arnie Pye"
        ];
            
        // load sponsors data
        screen_sponsors_sponsorsData = [
            {   title: "Lorem", 
                body: [
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id lacus vehicula ante suscipit porttitor. Ut ullamcorper condimentum lobortis. Duis elit libero, posuere congue sagittis consectetur, laoreet consequat purus. Nullam ut nibh tellus. In hac habitasse platea dictumst. Etiam rhoncus mattis eros, sit amet iaculis tellus commodo at. In sit amet neque erat. Donec mollis diam dapibus tortor venenatis in volutpat sem ullamcorper.",
                    "Aliquam eros diam, dictum non euismod ac, porttitor quis nunc. Vivamus a nulla vel tortor adipiscing lobortis nec et velit. Fusce id porta ipsum. Morbi libero dolor, pharetra at tempor facilisis, porttitor ac velit. Nunc vestibulum varius posuere. Nulla eu pellentesque augue. Aenean ligula odio, luctus ac tincidunt nec, luctus eget nibh. Pellentesque posuere dui quis urna egestas suscipit. In ligula neque, posuere ac adipiscing a, congue in arcu."
                ]
            },
            {   title: "Integer", 
                body: [
                    "Integer pretium dolor id enim convallis ac euismod odio auctor. Proin quis mi lectus. Nunc ut pulvinar est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ornare feugiat tortor vel sollicitudin. Vestibulum ut turpis odio, non ultrices diam. Integer est metus, iaculis ornare tristique eu, viverra in enim.",
                    "Mauris semper commodo consectetur. Praesent pharetra diam nec arcu pretium vitae pretium augue consequat. Duis semper dolor vestibulum ipsum rutrum eget tristique leo scelerisque. Mauris odio ipsum, feugiat sit amet mollis et, varius id velit. Integer malesuada adipiscing urna, eget laoreet erat rutrum tincidunt."
                ]
            },
            {   title: "Duis", 
                body: [
                    "Duis porttitor diam eget eros suscipit mattis eu ac purus. Etiam ac nibh nisl, at porttitor lacus. Donec ornare mi at sapien scelerisque eleifend. Nam commodo justo sed augue dignissim ut imperdiet turpis convallis. Proin consectetur ultricies leo, at imperdiet nisl semper id. In a purus massa. Fusce eu lorem eu tortor fermentum volutpat. Nam vel nibh imperdiet urna egestas placerat non at quam. Donec nulla leo, congue vitae accumsan eget, fermentum vel turpis. Ut sit amet leo dolor. Sed vestibulum, nulla a tristique tristique, velit lacus scelerisque eros, vitae scelerisque massa dui a nisi. In neque felis, rutrum in varius ullamcorper, ultricies ut mi.",
                    "Donec elit elit, aliquet ut euismod id, sollicitudin sed odio. Maecenas id risus arcu, non suscipit enim. Vestibulum at nibh consequat sapien egestas semper. Pellentesque ornare, massa tempor placerat condimentum, libero ante mollis augue, eget vehicula justo felis quis metus. Integer pulvinar lacinia luctus. Praesent odio arcu, feugiat eget commodo ut, gravida non felis. Proin eget odio quam. Mauris ut nisi dolor, ac gravida nulla."
                ]
            },
            {   title: "Sed", 
                body: [
                    "Sed ut elit eu velit hendrerit adipiscing. Duis dapibus ornare porttitor. Duis suscipit commodo sapien vitae mattis. Donec consectetur scelerisque augue, et porttitor mauris sollicitudin vel. Cras pretium pellentesque enim quis porttitor. Sed condimentum, urna in dignissim commodo, nunc risus elementum magna, in euismod odio magna ut lectus.",
                    "Sed convallis magna in purus consequat a posuere diam ullamcorper. Vestibulum id ante vel metus iaculis egestas. Pellentesque erat erat, gravida ut aliquet eu, dignissim ac mauris. Quisque magna odio, blandit ac cursus sed, feugiat tincidunt tellus. Maecenas mollis elit ac ipsum aliquam at rhoncus est ultricies. Morbi non ipsum vitae est pellentesque dignissim quis eu velit. In hac habitasse platea dictumst."
                ]
            },
            {   title:"Nam", 
                body: [
                    "Nam facilisis luctus sagittis. Fusce cursus ligula vitae nibh consequat feugiat. Praesent luctus urna cursus ligula malesuada iaculis. Ut nibh purus, tristique sed consectetur in, hendrerit sit amet lacus. In interdum pulvinar ipsum eu lobortis. Maecenas in lacus quis lacus blandit aliquam. Aenean non suscipit nisl. Sed nibh risus, interdum nec posuere eget, rutrum quis ipsum. Aliquam arcu est, eleifend feugiat rutrum eget, viverra non erat. Suspendisse suscipit pellentesque placerat.",
                    "Donec vehicula auctor eleifend. Ut suscipit pretium ipsum, quis aliquam est tempor sed. Aliquam rutrum odio vitae turpis feugiat vestibulum. Duis fermentum pellentesque aliquam. Suspendisse eu lorem mauris. Aliquam sed justo in mauris porttitor ornare sit amet tristique mi. Quisque semper quam at nulla lobortis ut vulputate dui suscipit. Sed ac dui vel purus mattis sollicitudin quis eget leo. Maecenas vulputate, massa eu tristique viverra, lorem metus pulvinar orci, in aliquam nisi nisi a neque. Cras non ligula quis metus pretium dictum."
                ]
            },
        ];
            
        //alert( screen_sponsors_sponsorsData[0].body[1]);
    }

</script>

<div class="display_tile display_title screen_sponsors_title">
    Sponsors
</div>

<div class="screen_sponsors_friends display_tile display_content">
    <img id='screen_sponsors_friends_gradient'
         class='display_gradient'
         src="{{SITE_ROOT}}/static/screen_sponsors/gradient.png">
    <div class='display_scrollable_items'>
        <!-- to be filled by refresh code above -->
    </div>
</div>

<div class="screen_sponsors_sponsors display_tile display_content">
    <img id='screen_sponsors_sponsors_gradient'
         class='display_gradient'
         src="{{SITE_ROOT}}/static/screen_sponsors/gradient.png">
    <div class='display_scrollable_items'>
        <!-- to be filled by refresh code above -->
    </div>
</div>
