<!--
    screen_webcams.html
    by Rob McGuire-Dale, 3/7/2009
    last modified by Rob McGuire-Dale, 9/18/2009
    
    This screen displays the current shots of the different webcams around OSU's
    facilities.
-->

<style>
    /* set up common style */
    .screen_webcams_commonStyle{
        position: relative;
        background-color:#F8F8FF; /* set the background color to ghost-grey */
        border: black double;
    }

    h1, h2{
        display: block;
        text-align:center;
        font-weight:bold;
        font-family:'verdana','geneva','arial','helvetica',sans-serif;
    }

    h1{ font-size:14px; }

    h2{ font-size:10px; }

    /* image style */
    .screen_webcams_img { display: block; }
</style>

<script type="text/javascript">

    // for restoring the window.resize event pointer
    var winResizeEventPointer;

    function screen_webcams_init() {
        console.log('screen_webcams initializing...');
        
        //$("#screen_webcams_main").doubleBoarderedBox();
        
		// intitialize tile click event handling. NOTE: This section is for 
		// demonstration purposes only. Eventually, these div manipulations will
		// be done via the touchscreen interface.
        initTileClickEvents();
		
		// make images refresh themselves at the specified interval
		$(".screen_webcams_img").refreshImage({
            interval:
                {{settings.screen_webcams_screen_webcams.imgRefreshInterval}},
            start:true
        });
        
        // initialize the main tile
		displayToMainTile( 
	        "{{settings.screen_webcams_screen_webcams.title_mu}}",
	        "{{settings.screen_webcams_screen_webcams.imgAddr_mu}}"
	    );
    }

    function screen_webcams_start() {
        console.log('screen_webcams is starting...');
        
        // capture the window.resize event pointer so it can be restored later
        // and set window.resize event to scale the the wifi image
        winResizeEventPointer = window.onresize;
        window.onresize = function(){
            $("#screen_webcams_layout").scale("center","stretch");
        }

        // scale the wifi usage image to fit inside the parent
        $("#screen_webcams_layout").scale("center","stretch");
    }
    
    function screen_webcams_stop() {
        console.log('screen_webcams is stopping');
        
        //restore the window.resize event pointer
        window.onresize = winResizeEventPointer;
    }

    // ==============
    //  INITIALIZERS
    // ==============
    //      Functions that initialize elements of the the screen plugin.

    function screen_webcams_initTiles(){

        
	    

    }
    
    function initTileClickEvents() {
    	// click event handling (NOTE: This section is for demonstration 
		// purposes only. Eventually, these tile manipulations will be done via 
		// the touchscreen interface.
		
		$("#screen_webcams_monroe").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_monroe}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_monroe}}" 
		    );
		});
		$("#screen_webcams_reser").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_reser}}", 
		        "{{settings.screen_webcams_screen_webcams.imgAddr_reser}}"
		    );
		});
		$("#screen_webcams_mu").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_mu}}", 
		        "{{settings.screen_webcams_screen_webcams.imgAddr_mu}}"
		    );
		});
		$("#screen_webcams_library").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_library}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_library}}"
		    );
		});
		$("#screen_webcams_gloss").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_gloss}}", 
		        "{{settings.screen_webcams_screen_webcams.imgAddr_gloss}}"
		    );
		});
		$("#screen_webcams_wave").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_wave}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_wave}}"
		    );
		});
		$("#screen_webcams_hatfield").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_hatfield}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_hatfield}}"
		    );
		});
		$("#screen_webcams_agate").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_agate}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_agate}}"
		    );
		});
		$("#screen_webcams_wecoma").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_wecoma}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_wecoma}}"
		    );
		});
		$("#screen_webcams_south").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_south}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_south}}"
		    );
		});
		$("#screen_webcams_gill").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_gill}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_gill}}"
		    );
		});
		$("#screen_webcams_andrews").click(function(){ 
		    displayToMainTile( 
		        "{{settings.screen_webcams_screen_webcams.title_andrews}}",
		        "{{settings.screen_webcams_screen_webcams.imgAddr_andrews}}"
		    );
		});
    }

    // ==============
    //  FACILITATORS
    // ==============
    //      Functions responsible for manipulating the tiles
   
	function displayToMainTile( title, addr ){
    // Display an image at the specified address with the specified title in the 
	// main tile
	
	    // Vars for the padding between the main tile and the left and top cols. 
	    // Values will be calculated after main tile is filled with content 
	    // because they depend on its size.
	    var tilePadding_vert = 0;
        var tilePadding_horiz = 0;
                               
        // fade out the main tile
		$("#screen_webcams_main").fadeOut(function(){
		    // fill the main tile with the title and the picture of the
		    // specified webcam shot
			$("#screen_webcams_title_main").html( title );
            $("#screen_webcams_img_main").attr( 'src', addr );
            $("#screen_webcams_img_main").height( 
                {{settings.screen_webcams_screen_webcams.mainTile_height}} 
            );
		});
		
		// fade the main tile back in
		$("#screen_webcams_main").fadeIn("slow");
	}
	
</script>

<!-- set up HTML divs for each tile ------------------------------------------->
<table id="screen_webcams_layout" border=1>
    <tr>
        <td>
            <div id="screen_webcams_monroe" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_monroe}}</h2>
                
                <img id="screen_webcams_img_monroe" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_monroe}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>        
        </td>
        <td>
            <div id="screen_webcams_reser" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_reser}}</h2>
                
                <img id="screen_webcams_img_reser" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_reser}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div> 
        </td>
        <td>
            <div id="screen_webcams_mu" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_mu}}</h2>
                
                <img id="screen_webcams_img_mu" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_mu}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
        <td>
            <div id="screen_webcams_library" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_library}}</h2>
                
                <img id="screen_webcams_img_library" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_library}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
        <td>
            <div id="screen_webcams_gloss" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_gloss}}</h2>
                
                <img id="screen_webcams_img_gloss" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_gloss}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>        
        </td>
        <td>
            <div id="screen_webcams_wave" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_wave}}</h2>
                
                <img id="screen_webcams_img_wave" class="screen_webcams_img"
                    src=  "{{settings.screen_webcams_screen_webcams.imgAddr_wave}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width= {{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
    </tr>
    <tr>
        <td colspan='6'>
            <div id="screen_webcams_main" class="screen_webcams_commonStyle">

                <h1 id="screen_webcams_title_main">
                    {{settings.screen_webcams_screen_webcams.title_mu}}
                </h1>
                
                <img id="screen_webcams_img_main" class="screen_webcams_img" 
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_mu}}"
                    height={{settings.screen_webcams_screen_webcams.mainTile_height}}
                    width={{settings.screen_webcams_screen_webcams.mainTile_width}}>

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="screen_webcams_south" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_south}}</h2>
                
                <img id="screen_webcams_img_south" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_south}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
        <td>
            <div id="screen_webcams_gill" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_gill}}</h2>
                
                <img id="screen_webcams_img_gill" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_gill}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
        <td>
            <div id="screen_webcams_andrews" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_andrews}}</h2>
                
                <img id="screen_webcams_img_andrews" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_andrews}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
        <td>
            <div id="screen_webcams_hatfield" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_hatfield}}</h2>
                
                <img id="screen_webcams_img_hatfield" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_hatfield}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>

            </div>
        </td>
        <td>
            <div id="screen_webcams_wecoma" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_wecoma}}</h2>
                
                <img id="screen_webcams_img_wecoma" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_wecoma}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>
                    
            </div>
        </td>
        <td>
            <div id="screen_webcams_agate" class="screen_webcams_commonStyle">

                <h2>{{settings.screen_webcams_screen_webcams.title_agate}}</h2>
                
                <img id="screen_webcams_img_agate" class="screen_webcams_img"
                    src="{{settings.screen_webcams_screen_webcams.imgAddr_agate}}"
                    height={{settings.screen_webcams_screen_webcams.thumbnail_height}}
                    width={{settings.screen_webcams_screen_webcams.thumbnail_width}}>
                    
            </div>
        </td>
    </tr>
</table>
