<style> 

	.screen_webcams_commonStyle {
	    position: absolute;
        background-color:#F8F8FF; /* set the background color to ghost-grey */
        border: black double;
	}
	
	/* thumbnail title style */
    .screen_webcams_tnTitle {
        display: block;
        
        text-align:center;        
        font-size:10px;
        font-weight:bold;
        font-family:'verdana','geneva','arial','helvetica',sans-serif;
    }
    
    /* main title style */
    .screen_webcams_mainTitle { 
        display: block; 
        
        text-align:center;        
        font-size:14px;
        font-weight:bold;
        font-family:'verdana','geneva','arial','helvetica',sans-serif;
    }
    
    /* image style */
    .screen_webcams_img { display: block; }

</style>

<script type="text/javascript">

    // ========================
    //  screen plugin settings 
    // ========================
    // NOTE: These will eventually be entered into the screen plugin's db
    // settings, which can be accessed via the settings web interface.
    
    // variables to hold the addresses to the current web cam shots
	var ADDR_MU			= "http://webcam.oregonstate.edu/live/mu_current.jpg";
	var ADDR_LIBRARY    = "http://webcam.oregonstate.edu/live/library_current.jpg";
	var ADDR_MONROE     = "http://webcam.oregonstate.edu/live/monroe_current.jpg";
	var ADDR_SOUTH		= "http://webcam.oregonstate.edu/live/south_current.jpg";
	var ADDR_RESER		= "http://webcam.oregonstate.edu/live/reser1_current.jpg";
	var ADDR_GLOSS		= "http://webcam.oregonstate.edu/live/baseball_current.jpg";
    var ADDR_GILL	    = "http://webcam.oregonstate.edu/live/gill_current.jpg";
    var ADDR_ANDREWS	= "http://webcam.oregonstate.edu/live/andrews_current.jpg";
    var ADDR_HATFIELD   = "http://webcam.oregonstate.edu/live/hmsc_current.jpg";
    var ADDR_WAVE       = "http://webcam.oregonstate.edu/live/wavelab_current.jpg";
    var ADDR_WECOMA	    = "http://webcam.oregonstate.edu/live/wecoma_current.jpg";
    var ADDR_AGATE	    = "http://webcam.oregonstate.edu/live/agate_current.jpg";
    var ADDR_STUDCOMP   = "http://webcam.oregonstate.edu/live/scf_current.jpg";
    
    // variables to hold the titles of the shots
    var TITLE_MU        = "Memorial Union";
    var TITLE_LIBRARY   = "Valley Library";
    var TITLE_MONROE    = "Monroe Street";
    var TITLE_SOUTH     = "South Campus";
    var TITLE_RESER     = "Reser Stadium";
    var TITLE_GLOSS     = "Gloss Stadium";
    var TITLE_GILL      = "Gill Renovation";
    var TITLE_ANDREWS   = "Andrews Forrest";
    var TITLE_HATFIELD  = "Hatfield Marine Science";
    var TITLE_WAVE      = "Wave Lab";
    var TITLE_WECOMA    = "Research Vessel WECOMA";
    var TITLE_AGATE     = "Agate Beach";
    var TITLE_STUDCOMP  = "Student Computing";

    // variables for the screen's border and tile padding
    var SCREEN_BORDER   = 10; //border between the edge of the screen and the
                              //tiles
    
    // variables to control the size of the tiles and their elements
    var TN_IMG_HEIGHT       = 120; //height of the thumbnail images
    var TN_IMG_WIDTH        = 160; //width of the thumbnail images
    var TN_IMG_WIDTH_WS     = 176; //widescreen thumnail width
    
    var MAIN_IMG_HEIGHT     = 480; //height of the main images
    var MAIN_IMG_WIDTH      = 640; //width of the main images

    // ===============
    //  screen events
    // ===============
    
	// This function is run when this plugin initializes itself 
    function screen_webcams_init() {

        // for this example just output to firebug console
        console.log('screen_webcams is initializing itself');
        
		// click event handling (NOTE: This section is for demonstration 
		// purposes only. Eventually, these div manipulations will be done via 
		// the touchscreen interface.
		$("#screen_webcams_mu").click(function(){ 
			displayToMainTile( TITLE_MU, ADDR_MU );
		});
		
		// initialize the tiles
		screen_webcams_initTiles();
    }

    function screen_webcams_start() {
        // for this example just output to firebug console
        console.log('screen_webcams is starting because i was shown');
    }

    function screen_webcams_stop() {
        // for this example just output to firebug console
        console.log('screen_webcams is stopping because im being hidden');
    }

    // ==============
    //  initializers
    // ==============

    function screen_webcams_initTiles(){
    
        // calculate the first row's tile padding (to evently distribute the top
        // row tiles across the width of the screen)
        var topRowTilePadding = ( {{settings.general.DISPLAY_WIDTH}} - 
                                2 * SCREEN_BORDER - 4 * TN_IMG_WIDTH -
                                2 * TN_IMG_WIDTH )/5;
        
        // row 1 ---------------------------------------------------------------
        $("#screen_webcams_monroe").css('top', SCREEN_BORDER );
        $("#screen_webcams_monroe").css('left', SCREEN_BORDER );                                        
        $("#screen_webcams_title_monroe").html( TITLE_MONROE );
        $("#screen_webcams_img_monroe").attr( 'src', ADDR_MONROE );
        $("#screen_webcams_img_monroe").height( TN_IMG_HEIGHT );
        
        $("#screen_webcams_reser").css('top', SCREEN_BORDER );
        $("#screen_webcams_reser").css('left', SCREEN_BORDER + $("#screen_webcams_monroe").outerWidth(true) + topRowTilePadding );                                        
        $("#screen_webcams_title_reser").html( TITLE_RESER );
        $("#screen_webcams_img_reser").attr( 'src', ADDR_RESER );
        $("#screen_webcams_img_reser").height( TN_IMG_HEIGHT );
        
        $("#screen_webcams_mu").css('top', SCREEN_BORDER );
        $("#screen_webcams_mu").css('left', SCREEN_BORDER + $("#screen_webcams_monroe").outerWidth(true) + $("#screen_webcams_reser").outerWidth(true) + topRowTilePadding * 2 );                                        
        $("#screen_webcams_title_mu").html( TITLE_MU );
        $("#screen_webcams_img_mu").attr( 'src', ADDR_MU );
        $("#screen_webcams_img_mu").height( TN_IMG_HEIGHT );
        
        $("#screen_webcams_library").css('top', SCREEN_BORDER );
        $("#screen_webcams_library").css('left', SCREEN_BORDER + $("#screen_webcams_monroe").outerWidth(true) + $("#screen_webcams_reser").outerWidth(true) + $("#screen_webcams_mu").outerWidth(true) + topRowTilePadding * 3 );                                        
        $("#screen_webcams_title_library").html( TITLE_LIBRARY );
        $("#screen_webcams_img_library").attr( 'src', ADDR_LIBRARY );
        $("#screen_webcams_img_library").height( TN_IMG_HEIGHT );
        
        $("#screen_webcams_gloss").css('top', SCREEN_BORDER );
        $("#screen_webcams_gloss").css('left', SCREEN_BORDER + $("#screen_webcams_monroe").outerWidth(true) + $("#screen_webcams_reser").outerWidth(true) + $("#screen_webcams_mu").outerWidth(true) + $("#screen_webcams_library").outerWidth(true) + topRowTilePadding * 4 );                                        
        $("#screen_webcams_title_gloss").html( TITLE_GLOSS );
        $("#screen_webcams_img_gloss").attr( 'src', ADDR_GLOSS );
        $("#screen_webcams_img_gloss").height( TN_IMG_HEIGHT );
        
        $("#screen_webcams_wave").css('top', SCREEN_BORDER );
        $("#screen_webcams_wave").css('left', SCREEN_BORDER + $("#screen_webcams_monroe").outerWidth(true) + $("#screen_webcams_reser").outerWidth(true) + $("#screen_webcams_mu").outerWidth(true) + $("#screen_webcams_library").outerWidth(true) + $("#screen_webcams_gloss").outerWidth(true) + topRowTilePadding * 5 );                                        
        $("#screen_webcams_title_wave").html( TITLE_WAVE );
        $("#screen_webcams_img_wave").attr( 'src', ADDR_WAVE );
        $("#screen_webcams_img_wave").height( TN_IMG_HEIGHT );
        
        // row 2 ---------------------------------------------------------------      
        $("#screen_webcams_main").css('top', SCREEN_BORDER + $("#screen_webcams_mu").outerHeight(true) );
        $("#screen_webcams_main").css('left', SCREEN_BORDER + $("#screen_webcams_mu").outerWidth(true) );
        $("#screen_webcams_title_main").html( TITLE_MU );
        $("#screen_webcams_img_main").attr( 'src', ADDR_MU );
        $("#screen_webcams_img_main").height( MAIN_IMG_HEIGHT );

    }

    // ==============
    //  facilitators
    // ==============
   
	// display an image at the specified address with the specified title in the 
	// main tile
	function displayToMainTile( title, addr ){
		$("#screen_webcams_main").hide(function(){
			$("#screen_webcams_title_main").html( title );
            $("#screen_webcams_img_main").attr( 'src', addr );
            $("#screen_webcams_img_main").height( MAIN_IMG_HEIGHT );
		});
		$("#screen_webcams_main").show("slow");
	}
</script>

<!-- set up HTML divs for each tile ------------------------------------------->
<div id="screen_webcams_main" class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_main" class="screen_webcams_mainTitle"></div>
    <img id="screen_webcams_img_main" class="screen_webcams_img">
</div>

<div id="screen_webcams_mu" class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_mu" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_mu" class="screen_webcams_img">
</div>

<div id="screen_webcams_library" class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_library" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_library" class="screen_webcams_img">
</div>

<div id="screen_webcams_monroe"             class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_monroe" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_monroe" class="screen_webcams_img">
</div>

<div id="screen_webcams_south"              class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_south" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_south" class="screen_webcams_img">
</div>

<div id="screen_webcams_reser"              class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_reser" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_reser" class="screen_webcams_img">
</div>

<div id="screen_webcams_gloss"              class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_gloss" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_gloss" class="screen_webcams_img">
</div>

<div id="screen_webcams_gill"               class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_gill" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_gill" class="screen_webcams_img">
</div>

<div id="screen_webcams_andrews"     class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_andrews" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_andrews" class="screen_webcams_img">
</div>

<div id="screen_webcams_hatfield"           class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_hatfield" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_hatfield" class="screen_webcams_img">
</div>

<div id="screen_webcams_wave"            class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_wave" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_wave" class="screen_webcams_img">
</div>

<div id="screen_webcams_wecoma"             class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_wecoma" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_wecoma" class="screen_webcams_img">
</div>

<div id="screen_webcams_agate"         class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_agate" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_agate" class="screen_webcams_img">
</div>

<div id="screen_webcams_studcomp"   class="screen_webcams_commonStyle">
    <div id="screen_webcams_title_studcomp" class="screen_webcams_tnTitle"></div>
    <img id="screen_webcams_img_studcomp" class="screen_webcams_img">
</div>
