<!--
    screen_wifi_usage.html
    by Rob McGuire-Dale, 9/3/2009
    
    This screen displays a graphical representation of the number of users
    connected to each wifi access point around campus.
-->

<style> 
    /* set up image style */
	#screen_wifi_usage_img {
	    display: block;
        margin-left: auto;
	    margin-right: auto;
	    vertical-align: middle;
        border: black double;
</style>

<script type="text/javascript">

    // for restoring the window.resize event pointer
    var winResizeEventPointer;

    function screen_wifi_usage_init() {
        console.log('screen_wifi_usage initializing...');
    
        // make the image refresh itself at the specified interval
		$("#screen_wifi_usage_img").refreshImage({
            interval:
                {{settings.screen_wifi_usage_screen_wifi_usage.imgRefreshInterval}},
            start:true
        });
               
    }

    function screen_wifi_usage_start() {
        console.log('screen_wifi_usage starting...');
        
        // capture the window.resize event pointer so it can be restored later
        // and set window.resize event to scale the the wifi image
        winResizeEventPointer = window.onresize;
        window.onresize = function(){
            $("#screen_wifi_usage_img").scale("center","stretch");
        }

        // scale the wifi usage image to fit inside the parent
        $("#screen_wifi_usage_img").scale("center","stretch");
    }
    
    function screen_wifi_usage_stop() {
        console.log('screen_wifi_usage stopping');
        
        //restore the window.resize event pointer
        window.onresize = winResizeEventPointer;
    }
    
</script>

<!-- set up the wifi usage map image ------------------------------------------>
<img id="screen_wifi_usage_img"
     src="{{settings.screen_wifi_usage_screen_wifi_usage.img_addr}}"
>
