<style>
    #fooScreen {
        position: absolute;
        top:300px;
        left:400px;
        background-color:#8989FF;
        color:white;
        padding:10px;
        width:200px;
        height:200px;
        border:1px solid white;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }

    #fooScreen_background {
        background-color:black;
    }
</style>

<script type="text/javascript">
function {{screen.hash}}()
{
    /*
        Javascript functions for this view.  These are not required,
        just demonstrating how they would be used.
    */

    this.init = function() {
        // for this example just output to firebug console
        safelog('FooScreen is initializing itself');
    };

    this.start = function() {
        // for this example just output to firebug console
        safelog('FooScreen is starting because i was shown');
    };

    this.stop = function() {
        // for this example just output to firebug console
        safelog('FooScreen is stopping because im being hidden');
    };
    
} {{screen.hash}} = new {{screen.hash}}();
</script>

<div id="fooScreen_background" class="background"></div>
<div id="fooScreen" class="content">
    {{screen.text}}
</div>
