<!--
    osl_bandwidth.html
    by Rob McGuire-Dale, 3/7/2009
    last modified by Rob McGuire-Dale, 9/23/2009

    This screen displays osl bandwidth graphs
-->

<style>
    #{{screen.hash}}_wrapper td img {
        margin:2px;
    }
</style>

<script type="text/javascript">
function {{screen.hash}}()
{
    //////////
    // Data //
    //////////
    
    // a graph set object consisting of two graphs and a title
    function graphSet( title, graph1, graph2 )
    {
        this.title = title;
        this.graph1 = graph1;
        this.graph2 = graph2;
    }

    // a set of graph sets
    var graphSets = new Array(
        new graphSet(
            '{{screen.title_0}}',
            '{{screen.imgAddr_0a}}',
            '{{screen.imgAddr_0b}}'
        ),
        new graphSet(
            '{{screen.title_1}}',
            '{{screen.imgAddr_1a}}',
            '{{screen.imgAddr_1b}}'
        ),
        new graphSet(
            '{{screen.title_2}}',
            '{{screen.imgAddr_2a}}',
            '{{screen.imgAddr_2b}}'
        ),
        new graphSet(
            '{{screen.title_3}}',
            '{{screen.imgAddr_3a}}',
            '{{screen.imgAddr_3b}}'
        ),
        new graphSet(
            '{{screen.title_4}}',
            '{{screen.imgAddr_4a}}',
            '{{screen.imgAddr_4b}}'
        ),
        new graphSet(
            '{{screen.title_5}}',
            '{{screen.imgAddr_5a}}',
            '{{screen.imgAddr_5b}}'
        )
    );
    
    // ======================
    //  SCREEN PLUGIN EVENTS
    // ======================
    //      Functions that are run at particular events in the screen plugin's
    //      life cycle.

    this.init = function()
    {
        safelog('osl_bandwidth: initializing...');

        //write the html for the tiles
        writeTileHTML();

        // position the tiles
        positionTiles();

        // init debug click events
        initTileClickEvents();
    };

    this.start = function()
    {
        safelog('osl_bandwidth: starting...');

        // position the thumbnail tiles
        positionTiles();

        // randomize the main tile
        randomizeMainTile();

        // make images refresh themselves at the specified interval
        $(".{{screen.hash}}_img").refreshImage({
            interval:
                {{screen.imgRefreshInterval}},
            start:true
        });
    };

    this.stop = function()
    {
        safelog('osl_bandwidth: stopping...');
    };

    this.resize = function()
    {
        positionTiles();
    };

    ///////////////////
    // MENU COMMANDS //
    ///////////////////

    // a menu command to show the specified graph set (by name, first
    // encountered)
    this.show = function( name )
    {
        var index = null;
        
        // find the index of the graph set by name
        for( i in graphSets ){

            if( graphSets[i].title == name ){
                index = i;
                break;
            }
        }

        // if the graph set is found, display it to the main tile
        if( index != null ) displayToMainTile( index );
        else safelog( "osl_bandwidth: show: graph set '"+name+"' not found." );
    }

    // ==============
    //  INITIALIZERS
    // ==============
    //      Functions that initialize elements of the the screen plugin.

    function writeTileHTML()
    {
        // write the thumbnails
        for( var i = 0; i < graphSets.length; i++ ){
            $("#{{screen.hash}}_wrapper").append(
                '<div id="{{screen.hash}}_thumb_'+i+'" class="display_img_thumb display_tile ">'+

                    '<div id="{{screen.hash}}_title_'+i+'" class="display_img_thumb_caption">'+
                        graphSets[i].title+
                    '</div>'+

                    '<img id="{{screen.hash}}_img_'+i+'b" class="{{screen.hash}}_img"'+
                        'src="'+graphSets[i].graph2+'"'+
                        'height="{{screen.thumbnail_img_height}}"'+
                        'width="{{screen.thumbnail_img_width}}">'+
                '</div>'
            );
        }

        // randomize the main tile
        randomizeMainTile();
    }

    // click event handling (For debug purposes. The menu is meant to be the
    // main control for this screen.)
    function initTileClickEvents()
    {
        $("#{{screen.hash}}_thumb_0").click(function(){displayToMainTile(0)});
        $("#{{screen.hash}}_thumb_1").click(function(){displayToMainTile(1)});
        $("#{{screen.hash}}_thumb_2").click(function(){displayToMainTile(2)});
        $("#{{screen.hash}}_thumb_3").click(function(){displayToMainTile(3)});
        $("#{{screen.hash}}_thumb_4").click(function(){displayToMainTile(4)});
        $("#{{screen.hash}}_thumb_5").click(function(){displayToMainTile(5)});
    }

    // ==============
    //  FACILITATORS
    // ==============
    //      Functions responsible for manipulating the tiles

    function positionTiles()
    {
        // calculate the padding between the tiles to evently distribute them
        // across the screen
        var horizPadding = (screenWidth() -
            $("#{{screen.hash}}_thumb_0").outerWidth(true) *
            graphSets.length/2)/
            ((graphSets.length/2) - 1);

        // position the thumbs
        for( var i = 0; i < graphSets.length/2; i++ ){

            // top row
            $("#{{screen.hash}}_thumb_" + i).css('left',
                $("#{{screen.hash}}_thumb_0").outerWidth(true) * i +
                horizPadding * i);

            // bottom row
            $("#{{screen.hash}}_thumb_" + (i + graphSets.length/2)).css('bottom', 0 );
            $("#{{screen.hash}}_thumb_" + (i + graphSets.length/2)).css('left',
                $("#{{screen.hash}}_thumb_0").outerWidth(true) * i +
                horizPadding * i );
        }

        // place the tile in the middle of the screen
        $("#{{screen.hash}}_main").css('top', screenHeight()/2 -
            $("#{{screen.hash}}_main").outerHeight(true)/2);
        $("#{{screen.hash}}_main").css('left', screenWidth()/2 -
            $("#{{screen.hash}}_main").outerWidth(true)/2);
    }

    // display a random graph pair to the main tile
    function randomizeMainTile(){

        // fill the main tile with a random graph and title set
        var randIndex=Math.floor(
            Math.random()*graphSets.length
        );

        displayToMainTile( randIndex );
    }

    // Display a graph set to the main tile
    function displayToMainTile( graphSetIndex )
    {
        var speed = "fast"; // fade in/fade out speed

        // fade out the main tile
       $("#{{screen.hash}}_main_inner").fadeOut( speed, function(){

            // fill the main tile with the title and the picture of the
            // specified webcam shot
            $("#{{screen.hash}}_title_main").html( graphSets[graphSetIndex].title+
                " Bandwidth Usage" );
            $("#{{screen.hash}}_img_main_a").attr( 'src',
                graphSets[graphSetIndex].graph1
            );
            $("#{{screen.hash}}_img_main_b").attr( 'src',
                graphSets[graphSetIndex].graph2
            );
            $("#{{screen.hash}}_img_main").height(
                {{screen.mainTile_height}}
            );

            // set max height and width
            $("#{{screen.hash}}_img_main").attr( 'max-height',
                '{{screen.mainTile_height}}' );
            $("#{{screen.hash}}_img_main").attr( 'max-width',
                '{{screen.mainTile_width}}' );
        });

        // fade the main tile back in
        $("#{{screen.hash}}_main_inner").fadeIn( speed );
    }

} {{screen.hash}} = new {{screen.hash}}();
</script>

<div id="{{screen.hash}}_wrapper">
    <div id='{{screen.hash}}_main' class='display_img display_tile'>
        <div id="{{screen.hash}}_main_inner">
            <div id='{{screen.hash}}_title_main' class='display_img_caption'>
                {{screen.title_0}}
            </div>
            <table>
                <tr>
                    <td>
                        <img id='{{screen.hash}}_img_main_a' class='{{screen.hash}}_img'
                        src='{{screen.imgAddr_0a}}'
                        height={{screen.mainTile_height}}
                        width={{screen.mainTile_width}}>
                    </td>
    
                    <td>
                        <img id='{{screen.hash}}_img_main_b' class='{{screen.hash}}_img'
                        src='{{screen.imgAddr_0b}}'
                        height={{screen.mainTile_height}}
                        width={{screen.mainTile_width}}>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
