<!--
    screen_osl_about.html
    by Rob McGuire-Dale, 3/7/2009
    last modified by Rob McGuire-Dale, 4/2/2009
    
    This screen displays infomation about the Open Source Lab.

    Note: This document is heavily commented b/c it is used in the touchscreen
    tutorial (http://trac.osuosl.org/trac/touchscreen/wiki/plugins/screens)
-->

<!-- Set up styles, which include positions and colors of the tiles ----------->
<style>

    /* a common style for the tiles */
    .screen_osu_about_commonStyle {
        font-size: 8pt;           /* set the text size for all tiles to 8pt */
        position: absolute;       /* set up the position type */
        background-color:#F8F8FF; /* set the background color to ghost-grey */
        border: black double;     /* set a double-black line boarder */
    }

</style>

<!-- tile position, size, and animation javascript code ----------------------->
<script type="text/javascript">

    // ===============
    //  screen events 
    // ===============
    
    // This function runs when this plugin initializes 
    function screen_osl_about_init() {

        // output some debug info to the firebug console
        console.log('screen_osl_about is initializing itself');

        // hide all of the tiles when plugin initializes
        $("#screen_osl_about_left").hide();
        $("#screen_osl_about_rightTop").hide();
        $("#screen_osl_about_rightBottom").hide();

        //initialize the tiles
        screen_osl_about_initTiles();
    }

    // called when this plugin begins showing itself
    function screen_osl_about_start() {

        // output some debug info to the firebug console
        console.log('screen_osl_about is starting because i was shown');

        // slowly show the tiles after a short delay (so the tiles don't animate 
        // off-screen)
        var delay = 500;
        setTimeout("$('#screen_osl_about_left').show('slow')", delay );
        setTimeout("$('#screen_osl_about_rightTop').show('slow')", delay );
        setTimeout("$('#screen_osl_about_rightBottom').show('slow')", delay );

        //alert( Screen.getViewportHeight() );
    }

    // called when this plugin begins hiding itself
    function screen_osl_about_stop() {

        // output some debug info to the firebug console
        console.log('screen_webcams is stopping because im being hidden');

        // slowly hide the tiles as they slide off-screen
        $("#screen_osl_about_left").hide("slow");
        $("#screen_osl_about_rightTop").hide("slow");
        $("#screen_osl_about_rightBottom").hide("slow");
    }
    
    // ==============
    //  initializers
    // ==============
    
    function screen_osl_about_initTiles() {
        // variables for the screen's border and tile padding. These will event-
        // ually be db settings
        var SCREEN_BORDER = 10; //border between the edge of the screen and the
                                //tiles
        var TILE_PADDING  = 10; //padding between the tiles
        var CONTENT_PADDING = 10; //padding between the tile border and content

        // grab the right-top tile height and width
        var rightTopTileHeight = $('#screen_osl_about_rightTop').outerHeight(true);
        var rightTopTileWidth = $('#screen_osl_about_rightTop').outerWidth(true);

        // position and size the left tile
        $("#screen_osl_about_left").css('padding', CONTENT_PADDING );
        $("#screen_osl_about_left").css('top',  SCREEN_BORDER );
        $("#screen_osl_about_left").css('left', SCREEN_BORDER );
        $("#screen_osl_about_left").height( {{settings.general.DISPLAY_HEIGHT}} - 
                                            SCREEN_BORDER * 2 );
        $("#screen_osl_about_left").width(  {{settings.general.DISPLAY_WIDTH}} - 
                                            SCREEN_BORDER * 2 - TILE_PADDING - 
                                            rightTopTileWidth );

        // grab the left tile width now that it has been resized
        var leftTileWidth = $('#screen_osl_about_left').outerWidth(true)

        // position the right-top tile
        $("#screen_osl_about_rightTop").css('top',  SCREEN_BORDER );
        $("#screen_osl_about_rightTop").css('left', SCREEN_BORDER +    
                                                    leftTileWidth + 
                                                    TILE_PADDING );
        $("#screen_osl_about_rightTop").height( document.
                                                getElementById('EdRayImg').
                                                height );
        $("#screen_osl_about_rightTop").width( document.
                                               getElementById('EdRayImg').
                                               width );

        // position and size the right-bottom tile
        $("#screen_osl_about_rightBottom").css('padding', CONTENT_PADDING );
        $("#screen_osl_about_rightBottom").css('top',    SCREEN_BORDER + 
                                                         TILE_PADDING + 
                                                         rightTopTileHeight );
        $("#screen_osl_about_rightBottom").css('left',   SCREEN_BORDER + 
                                                         TILE_PADDING + 
                                                         leftTileWidth );
        $("#screen_osl_about_rightBottom").height( {{settings.general.DISPLAY_HEIGHT}} - 
                                                   SCREEN_BORDER * 2 - 
                                                   TILE_PADDING -
                                                   rightTopTileHeight );
        $("#screen_osl_about_rightBottom").width( {{settings.general.DISPLAY_WIDTH}} -
                                                  SCREEN_BORDER * 2 -
                                                  TILE_PADDING -
                                                  leftTileWidth );
    }
</script>

<!-- set up html divs for each tile ------------------------------------------->
<div id="screen_osl_about_left" class="screen_osu_about_commonStyle">
    <b>What is the Open Source Lab?</b><br><br>
    <p>
    The Oregon State University Open Source Lab is a global, world-class 
    facility and data center for Open Source Software (OSS) knowledge, 
    hosting, infrastructure, development, and collaboration. The Open 
    Source Lab fosters the development of unique OSS products, as well as 
    directly assists in the development, implementation, and use of 
    targeted OSS solutions for use in education, research, government, and 
    business. By working closely with the OSU community, other 
    universities, governments, and private sector business, the OSU Open 
    Source Lab is quickly becoming a critical worldwide center for services 
    related to open source software.
    </p><br>
    <b>Why the Open Source Lab?</b><br><br>
    <p>
    Our goal is to help promote collaboration through the nurturing and 
    development of software projects across like-minded institutions. Our 
    experience and world-class infrastructure helps seed development 
    efforts across these communities, which enables them to move forward 
    with investments in open source software that leverage open standards. 
    The more people we can have working together, the more value we can 
    help the world realize.
    </p><br>

    <p>
    The core mission of the OSU Open Source Lab can be summed up with the 
    following:
    <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;• Create an atmosphere of innovation for 
        students, faculty and staff by providing an open, diverse 
        environment for development and collaboration.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;• Collaborate with public and private 
        institutions to better understand and develop open source software.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;• Bolster the return on investment to the 
        State and local economy by helping promote and build tools and 
        products that our constituents can use. 
    </p><br>

    <p>
    Open source projects today are held together by shoe string budgets and 
    questionable infrastructure. Innovation needs a solid foundation to 
    grow upon and the OSL brings that in the form of development 
    experience, world-class infrastructure, and the willingness to always 
    do the right thing for the community.
    </p><br>

    <p>
    Bringing the open source community together both physically and 
    virtually is about enabling cross-pollination, economies of scale and 
    the fostering of new and exciting projects. By focusing our energies 
    on our "main thing" we allow other projects to do the same. We shorten 
    the open source transaction time with innovative tools and a globally-
    distributed infrastructure that services these communities 24 hours a 
    day, 7 days a week and 365 days a year.
    </p><br>

    <p>
    The open source community has grown by leaps and bounds over the past 5 
    years. It has been an amazing thing to watch. As the community grows, 
    its members begin to depend on services provided by projects that 
    become critical to the life of a piece of software. The OSL hopes to 
    become a key component to the open source life cycle by providing 
    reliable infrastructure and knowledge that others can leverage. The 
    success of the OSL hinges on the satisfaction of our customers: 
    participants of the open source community.
    </p>
</div>
<!-- end left tile div -->

<div id="screen_osl_about_rightTop" class="screen_osu_about_commonStyle">
    <!-- 
        Display an image inside the top-right tile. The image is stored in a 
        folder called "static" inside the screen plugin's directory. Any folder
        hierarchy may exist within this static folder. Images can be accessed
        with {{SITE_ROOT}}/static/APP_NAME/IMAGE_FILE.png
    -->
    <img id="EdRayImg" src="{{SITE_ROOT}}/static/screen_osl_about/EdRay.png">
</div>
<!-- end top-right tile div -->

<div id="screen_osl_about_rightBottom" class="screen_osu_about_commonStyle">
    <b>What is Open Source Software?</b><br><br>

    <p>
    "Open source" means that the building blocks for a program are freely 
    available to use, modify, and improve. This provides for rapid software 
    development by contributors worldwide, and the resulting program is 
    available for anyone to use, anywhere, free of charge.
    </p><br>

    <b>Why Open Source?</b><br><br>

    <p>
    Open source software allows the user to freely take their own best 
    interests into account, without being constrained by the interests 
    and/or licensing restrictions of the author or vendor. This means 
    that if, for example, you are dissatisfied with an open source 
    application's security implementation or find that some feature is 
    missing, you can dive in and fix the code yourself. You can then give 
    those changes back to the community so that others may benefit.
    </p><br>

    <p>
    The reason open source has become so successful is that it leverages 
    open standards, which are the rules and guidelines that drive 
    communication among people/sites/hosts on the Internet. These open 
    standards help open source developers create applications that in turn 
    conform to those same standards, ultimately giving the user the freedom 
    to choose their preferred applications.
    </p>    
</div>

