<style>
    #fooScreen {
        position: absolute;
        top:300px;
        left:400px;
        background-color:blue;
        color:white;
        padding:5px;
        width:200px;
        height:200px;
    }

    #fooScreen_background {
        background-color:white;
    }
</style>

<script type="text/javascript">
    /*
        Javascript functions for this view.  These are not required,
        just demonstrating how they would be used.
    */

    function foo_screen_init() {
        // for this example just output to firebug console
        console.log('FooScreen is initializing itself');
    }

    function foo_screen_start() {
        // for this example just output to firebug console
        console.log('FooScreen is starting because i was shown');
    }

    function foo_screen_stop() {
        // for this example just output to firebug console
        console.log('FooScreen is stopping because im being hidden');
    }
</script>

<div id="fooScreen_background" class="background"></div>
<div id="fooScreen" class="content">
    {{settings.fooscreen_FooScreen.TEXT}}
</div>
