<!--
    wifi_usage.html
    by Rob McGuire-Dale, 9/3/2009
    
    This screen displays a graphical representation of the number of users
    connected to each wifi access point around campus.
-->

<script type="text/javascript">
function {{screen.hash}}()
{
    this.init = function()
    {
        safelog('wifi_usage: initializing...');
    
        // make the image refresh itself at the specified interval
        $("#{{screen.hash}}_img").refreshImage({
            interval: {{screen.imgRefreshInterval}},
        });

        $("#{{screen.hash}}_img").scale("center");
    }

    this.start = function()
    {
        safelog('wifi_usage: starting...');

        // start the image refresh
        $("#{{screen.hash}}_img").refreshImage("start");

        // scale the wifi usage image to fit inside the parent
        $("#{{screen.hash}}_img").scale("center");
    }
    
    this.stop = function()
    {
        safelog('wifi_usage: stopping');

        // stop the image refresh
        $("#{{screen.hash}}_img").refreshImage("stop");
    }
    
    this.resize = function()
    {        
        // re-scale every time the window is resized
        $("#{{screen.hash}}_img").scale("center");
    }

} {{screen.hash}} = new {{screen.hash}}();
</script>

<!-- set up the wifi usage map image ------------------------------------------>
<img id="{{screen.hash}}_img"
     src="{{screen.img_addr}}" 
     class="display_tile display_img">
