<!--
    wifi_usage.html
    by Rob McGuire-Dale, 9/3/2009
    
    This screen displays a graphical representation of the number of users
    connected to each wifi access point around campus.
-->

<script type="text/javascript">

    function wifi_usage_init() {
        safelog('wifi_usage: initializing...');
    
        // make the image refresh itself at the specified interval
		$("#wifi_usage_img").refreshImage({
            interval:
                {{settings.screens_wifi_usage.imgRefreshInterval}},
            start:true
        });
    }

    function wifi_usage_start() {
        safelog('wifi_usage: starting...');

        // scale the wifi usage image to fit inside the parent
        $("#wifi_usage_img").scale("center");
    }
    
    function wifi_usage_stop() {
        safelog('wifi_usage: stopping');
    }
    
    function wifi_usage_onScreenResize() {        
        // re-scale every time the window is resized
        $("#wifi_usage_img").scale("center");
    }
    
</script>

<!-- set up the wifi usage map image ------------------------------------------>
<img id="wifi_usage_img"
     src="{{settings.screens_wifi_usage.img_addr}}" 
     class="display_tile display_img">
