<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <title>Touchscreen</title>

        <style>
            {% include "display.css" %}
        </style>

        <!-- jQuery includes -->
        <script type='text/javascript' src="{{MEDIA_URL}}/js/jquery-1.4.min.js"></script>
        <script type='text/javascript' src="{{MEDIA_URL}}/js/jquery.doubleBorderedBox.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.refreshimage.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.scale/jquery.scale.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.tools.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.cycle.all.min.js"></script>

         <!-- jQuery UI includes -->
        <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/js/jquery.ui/theme/ui.all.css" />
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ui/jquery.ui.core-1.7.2.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.ui/jquery.ui.draggable-1.7.2.js"></script>

        <!-- other includes -->
        <script type="text/javascript" src="{{MEDIA_URL}}/js/util.js"></script>

        <script type="text/javascript">

            /* ===============================
             *  Shower / Hiders
             * =============================== */
            function slide_in(screen) {
                id = screen['id']
                duration = 1000;
                $('#'+id).animate({left:0}, duration );
                return duration;
            }

            function slide_out(screen) {
                id = screen['id']
                duration = 1000;
                $('#'+id).animate({left:-1400}, duration );
                return duration;
            }

            function fade_in(screen) {
                id = screen['id']
                $screen = $('#'+id);

                //first move the screen into place
                $screen.css('left',0);

                //animate fading in of background
                $screen.children('.background').fadeIn(500, function(){
                    $screen.children('.content').fadeIn(750);
                });
                return 1250
            }

            function fade_out(screen) {
                id = screen['id']
                $screen = $('#'+id);

                //fade the contents out
                $screen.children('.content').fadeOut(750, function(){
                    //fade the background out
                    $screen.children('.background').fadeOut(750, function(){
                        //move the box off the screen
                        $screen.css('left',-1400);
                    });
                });

                return 1500;
            }

            /* ===============================
             *  Show / Hide Screen
             * =============================== */
            // index of screen currently displayed, or in process of being
            // displayed
            var current_screen_index = -1
            var show_timer = 0;
            var start_timer = 0;

            // Get a screen index by its id string. If a matching screen is not
            // found, return -1
            function get_screen_index( id )
            {
                for( var i in screens )
                    if( id == screens[i].id )
                        return i;

                return -1;
            }

            function show_slide( screen )
            {
                if( slideshow_screen_index != current_screen_index ){

                    // hide slide if one is shown
                    if( current_screen_index != -1 ){

                        current_screen = screens[current_screen_index];
                        safelog('core: hiding ' + current_screen['id']);
                        hider = eval(hiders[current_screen['hide']]);
                        var hidetime = hider(current_screen);

                        // hide the screen
                        eval(current_screen['stop']);

                    } else {
                        // no current slide
                        var hidetime = 0;
                    }

                    current_screen_index = slideshow_screen_index;

                    if( !hidetime ) hidetime = 999;

                    // clear past timer in case next/prev was clicked
                    // repeatedly
                    if( show_timer ) { clearTimeout(show_timer)};
                    if( start_timer ) { clearTimeout(start_timer)};

                    // set the window resize pointer to the screen's resize hook
                    // function
                    window.onresize = function(){
                        safelog('core: window resized to ' +
                            screenWidth() + "x" + screenHeight());

                        eval( screens[current_screen_index]['onWinResize'] );
                    }

                    show = showers[screen['show']];

                    safelog('core: showing ' + screen['id']);

                    show_timer = setTimeout( "show_slide_animation_wrapper('" +
                        show+"(screens[current_screen_index])'," +
                        current_screen_index +")", hidetime);
                }
            }

            /*
            function that wraps the animation call for showing the next screen.
            This is used to delay calling screen.start() until after the screen
            has been shown
            */
            function show_slide_animation_wrapper (func, screen_index) {
                start_timer = showtime = eval(func);
                setTimeout(screens[screen_index]['start']);
            }

            /* ===============================
             *  SLIDE SHOW
             * =============================== */
            // tracks timer for automatic slideshow, used for pausing slideshow
            var slideshow_timer = -1;

            // tracks slideshow index, may temporarily hold next or previous
            // screen
            var slideshow_screen_index = -1;

            // initializes and starts slideshow from the first slide
            function slideshow_start()
            {
                slideshow_loop();
            }

            // loops slides automatically
            function slideshow_loop()
            {
                var screen = slideshow_next();

                //set next transition to duration of current slide
                safelog('core: next screen in ' +
                    parseInt(screen['duration'])/1000 + " seconds");

                slideshow_timer =
                    setTimeout(slideshow_loop, screen['duration']);
            }

            // pauses the slideshow
            function slideshow_stop()
            {
                if( slideshow_timer ){
                    clearTimeout( slideshow_timer );
                    slideshow_timer = -1;
                }
            }

            // advances to the next slide
            function slideshow_next()
            {
                //get next slide
                var screen = get_next_slide();

                while( !screen['slideshow'] ){
                    screen = get_next_slide();
                }

                show_slide( screen );

                return screen;
            }

            // advances to the previous slide
            function slideshow_prev()
            {
                //get previous slide
                var screen = get_prev_slide();
                while (!screen['slideshow']) {
                    screen = get_prev_slide();
                }

                show_slide(screen);
            }

            // gets next potential screen to be displayed
            function get_next_slide()
            {
                if( slideshow_screen_index + 1 == screens.length )
                    slideshow_screen_index = 0;
                else
                    slideshow_screen_index++;

                return screens[slideshow_screen_index];
            }

            // gets prev potential screen to be displayed
            function get_prev_slide()
            {
                if( slideshow_screen_index )
                    slideshow_screen_index--;
                else
                    slideshow_screen_index = screens.length-1;

                return screens[slideshow_screen_index];
            }

            /* ===============================
             *  AJAX Messaging
             * =============================== */
            function get_message()
            {
                safelog("core messaging: eagerly awaiting next command.");

                $.post('/proxy/',{'url':'{{settings.general.MSG_RECEIVE_URL}}'},
                    message_received);
            }

            /*
            Process message into command

            command messages are formated: <object/screen>,<command>[,args]+
            a timeout will return '0'
            an error will return '-1'

            timeouts will occur if no message is received after 4 minutes.
            This happens whenever there is no one interacting with the screen
            timeouts should be ignored and the next message should be
            requested immediately.
            */
            function message_received( response )
            {
                // message server timed out
                if( response == '0' )
                    safelog("core messaging: no message in queue.");

                // message server reported an error
                else if( response == '-1' || response == "" )
                    safelog("core messaging: error in message.");

                // otherwise, the message server returned a valid command.
                // process it.
                else
                    process_message( response );

                // wait for the message
                get_message();
            }

            function process_message( response )
            {
                safelog("core messaging: message received: " + response);

                // treat the message as comma-seperated values
                splitResponse = response.split(',');

                // capture the object name
                objName = splitResponse[0];

                // for building the command string
                cmd_string = null;

                // if the message referrs to the slideshow,
                if( objName == "slideshow" ){
                    cmd = splitResponse[1];

                    if( cmd == "start" ) cmd_string = 'slideshow_start()';
                    else if( cmd == "stop" ) cmd_string = 'slideshow_stop()';
                    else if( cmd == "next" ) cmd_string = 'slideshow_next()';
                    else if( cmd == "prev" ) cmd_string = 'slideshow_prev()';
                    else
                        safelog("core messaging: unknown slideshow command '" +
                        splitResponse[1] + "'");
                }

                // otherwise, the message refers to a screen
                else {

                    slideshow_screen_index = get_screen_index( objName );

                    if( slideshow_screen_index != -1 ){

                        show_slide( screens[ slideshow_screen_index ] );

                        safelog( "core messaging: showing screen " + objName );

                        // if a command (and optionally arguments) are also
                        // supplied, execute the command
                        if( splitResponse.length >= 2 ) {

                            command = splitResponse[1];

                            // process args into strings if ther are more than
                            // two comma-seperated values
                            args = '';
                            if( splitResponse.length > 2 ) {

                                for( i=2; i<splitResponse.length; i++ ){

                                    if( i > 2 ) args += ',';

                                    args += '"' + splitResponse[i] + '"';
                                }
                            }

                            // Build command string to evaluate
                            cmd_string = objName + "." + command + '('+args+')';
                        }

                    } else
                        safelog("core messaging: screen " + objName +
                            " not found.");
                }

                // evaluate the command if it was set
                if( cmd_string ){
                    safelog("core messaging: parsed command from message: "
                        + cmd_string );

                    // use setTimeout to asynchronously call the function. This
                    // allows immediate return.  It also prevents exceptions in
                    // the called function from causing an exception here.
                    setTimeout( cmd_string, 0 );
                }
            }

            /* ===============================
             *  Initialization
             * =============================== */

            // setup screen datastructures
            var screens = new Array()
            {% for key, screen in screens.items %}
                screens[{{forloop.counter0}}] =
                    {
                        'id':       '{{screen.hash}}',      // Screen identifier (name)
                        'hide':     '{{screen.hide}}',      // Function for hiding the screen
                        'show':     '{{screen.show}}',      // Function for showing the screen
                        'duration': {{screen.duration}},    // How long screen will be displayed
                        'slideshow':{% if screen.slideshow %}1{%else%}0{%endif%},   // Include in slideshow
                        'init':     '{{screen.js_init}}',   // Javascript function called when screen is first loaded
                        'start':    '{{screen.js_start}}',  // Javascript function called after showing the screen
                        'stop':     '{{screen.js_stop}}',   // Javascript function called after hiding the screen
                        'onWinResize': '{{screen.js_onWinResize}}' // Javascript function called when window is resized
                    }
            {% endfor %}

            // setup show/hide animations
            hiders  = {
                        'slide':'slide_out',
                        'fade':'fade_out'
                      };
            showers = {
                        'slide':'slide_in',
                        'fade':'fade_in'
                      };

            // hides all screens
            function hide_all() {
                for (i=0; i<screens.length; i++) {
                    //get hider and call it for the screen
                    hider_key = screens[i]['hide'];
                    hider = hiders[hider_key];
                    eval(hider+'(screens[i])');
                    safelog("core: Hiding " + screens[i]['id']);
                }
                safelog("core: All screens hidden");
            }

            // global functions for querying the size of the viewport
            function screenHeight(){ return Screen.getViewportHeight(); }
            function screenWidth(){ return Screen.getViewportWidth(); }

            // fixes a mapped function
            function fix_function( scr, func )
            {
                if( func == "None" )
                    return void(0);
                else
                    return scr['id'] + "." + func + '()';
            }

            // inits all screens
            function init_all()
            {
                // check for the existance of event functions in the screens,
                // void them if they don't exist, and validate if they do
                for( i=0; i<screens.length; i++ ){
                    scr = screens[i];
                    scr['init'] = fix_function(scr, scr['init']);
                    scr['start'] = fix_function(scr, scr['start']);
                    scr['stop'] = fix_function(scr, scr['stop']);
                    scr['onWinResize'] = fix_function(scr, scr['onWinResize']);

                    eval(screens[i]['init']);
                }

                safelog("core: All screens initialized");
            }

            // on load handler.
            $(document).ready(function()
            {
                safelog("core: Initializing Display");
                hide_all();
                init_all();
                slideshow_start();
                get_message();  //start waiting for messages

                // Debug window controls
                $('.debug_buttons').hover(
                    function(){$(this).addClass("ui-state-hover");},
                    function(){$(this).removeClass("ui-state-hover");}
                );
                $('#debug_play').click(function(){
                    safelog("debug menu: playing slideshow");
                    slideshow_stop();
                    slideshow_start();
                });
                $('#debug_stop').click(function(){
                    safelog("debug menu: stopping slideshow");
                    slideshow_stop();
                    slideshow_stop();
                });
                $('#debug_refresh').click(function(){
                    safelog("debug menu: refreshing current slide");
                    slideshow_next();
                    slideshow_prev();
                });
                $('#debug_next').click(function(){
                    safelog("debug menu: going to next slide");
                    slideshow_stop();
                    slideshow_next();
                });
                $('#debug_prev').click(function(){
                    safelog("debug menu: going to previous slide");
                    slideshow_stop();
                    slideshow_prev();
                });

                $('#debug_close').click(function(){
                    safelog("debug menu: debug menu hiding");
                    $("#debug_window").slideToggle("slow");
                });

                //make debug window draggable
                $('#debug_window').draggable();
            });

        </script>
    </head>

    <body>

        <div id='debug'>
            <!-- debug window -->
            <table id='debug_window' class='ui-widget ui-corner-all'>
                <tr>
                    <!-- debug title -->
                    <td colspan="4" class="debug_button-cells">
                        <b>debug</b>
                    </td>

                    <!-- debug window close button -->
                    <td class="debug_button-cells">
                        <span id="debug_close"
                            class="debug_buttons ui-icon ui-icon-close">
                        </span>
                    </td>
                </tr>

                <!-- slide show control buttons -->
                <tr>
                    <td class="debug_button-cells">
                        <span id="debug_play"
                            class="debug_buttons ui-icon ui-icon-play">
                        </span>
                    </td>
                    <td class="debug_button-cells">
                        <span id="debug_stop"
                            class="debug_buttons ui-icon ui-icon-stop">
                        </span>
                    </td>
                    <td class="debug_button-cells">
                        <span id="debug_refresh"
                            class="debug_buttons ui-icon ui-icon-refresh">
                        </span>
                    </td>
                    <td class="debug_button-cells">
                        <span id="debug_prev"
                            class="debug_buttons ui-icon ui-icon-seek-prev">
                        </span>
                    </td>
                    <td class="debug_button-cells">
                        <span id="debug_next"
                            class="debug_buttons ui-icon ui-icon-seek-next">
                        </span>
                    </td>
                </tr>

                <!-- bindable debug function buttons -->
                <tr>
                    <td class="debug_button-cells">
                        <span id="debug_f1" class="debug_buttons">F1</span></td>
                    <td class="debug_button-cells">
                        <span id="debug_f2" class="debug_buttons">F2</span></td>
                    <td class="debug_button-cells">
                        <span id="debug_f3" class="debug_buttons">F3</span></td>
                    <td class="debug_button-cells">
                        <span id="debug_f4" class="debug_buttons">F4</span></td>
                    <td class="debug_button-cells">
                        <span id="debug_f5" class="debug_buttons">F5</span></td>
                </tr>
            </table>
        </div>

        <div id='screens'>
            <!-- create screen divs -->
            {% for key, screen in screens.items %}
                <div id='{{screen.hash}}' class='screen'>
                    {% with screen.hash as screenHash %}
                        {% include screen.template %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>

    </body>
</html>
