*{
    margin:0px;
    padding:0px;
}

#screens {
    position: absolute;
    height:100%;
    width:100%;
    background-color:black;
    background-image: url('{{MEDIA_URL}}/images/background-gray-1280x1024.gif');
    background-repeat:repeat-x;
}

.screen {
    position: absolute;
    height:100%;
    width:100%;
}

.background {
    position:absolute;
    height:100%;
    width:100%;
}

/*//////////////
// debug menu //
//////////////*/

#debug_window {
    display: block;         /* change to "none" to hide, and "block" to show */
    z-index: 9999;          /* always on top */
    float: left;
    padding: 2px;
    font-family: "fixed", sans-serif;
    font-size: 7pt;
    border: 1px solid orange;
    background-color: gray;
    opacity:0.8;
}

.debug_button-cells{
    text-align:left;
    vertical-align: middle;
    height:18px;
    width:18px;
}

/*/////////////////
// global styles //
/////////////////*/

.display_screen_wrapper, .display_tile{ 
    position: absolute; 
}

.display_screen_wrapper{
    width: 100%;
    height: 100%;
}

.display_tile{
    -moz-border-radius:4px;
    overflow:hidden;
    margin:10px;
    background-color: black;
    font-family:'verdana','geneva','arial','helvetica',sans-serif;
}

.display_content, .display_img, .display_title{
    border: 1px solid white; 
}

.display_img, .display_img_thumb, .display_title, h1{
    font-weight:bold;
    color: #CC5900;
}

.display_title{
    padding: 10px 20px 10px;
    text-align:center;
    font-size:50pt;
}

.display_img_caption{
    margin-bottom: 3px;
}

.display_img_thumb_caption{
    margin-bottom: 3px;
}

.display_img, .display_img_thumb{
    text-align: center;
}

.display_img{
    font-size: 14px;
    padding:5px;
}

.display_img_thumb{ 
    font-size: 10px;
    padding:3px;
}

.display_content{
    padding: 10px;
}

.display_scrollable_items {
    height:   20000em;
    position: absolute;
    clear:    both;
}

img, p, li, h1{ display: block; }

h1{
    font-size: 14px;
    margin-top: 1em
    margin-bottom: 5em;
}

p, li { 
    font-size: 8pt; 
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top:1em;
    color: #F8F8FF;
}

li {
    margin-left: 4em;
}
