*{
    margin:0px;
    padding:0px;
}

#screens {
    position: absolute;
    height:100%;
    width:100%;
    background-color:black;
    background-image: url('{{MEDIA_URL}}/images/background-gray-1280x1024.gif');
    background-repeat:repeat-x;
}

.screen {
    position: absolute;
    height:100%;
    width:100%;
}

.background {
    position:absolute;
    height:100%;
    width:100%;
}

/* The debug menu */
#debug_window {
    display: block;         /* change to "none" to hide, and "block" to show */
    z-index: 1000;          /* always on top */
    float: left;
    padding: 2px;
    font-family: "fixed", sans-serif;
    font-size: 7pt;
    border: 1px solid orange;
    background-color: gray;
    opacity:0.8;
}

.debug_button-cells{
    text-align:left;
    vertical-align: middle;
    height:18px;
    width:18px;
}



