<!--
    webcams.html
    by Rob McGuire-Dale, 3/7/2009
    last modified by Rob McGuire-Dale, 9/23/2009

    This screen displays the current shots of the different webcams around OSU's
    facilities.
-->
<style>
    .{{screen.hash}}_top_thumbs{
        top: 0;
    }

    .{{screen.hash}}_bottom_thumbs{
        bottom: 0;
    }
</style>
<script type="text/javascript">
function {{screen.hash}}()
{
    /////////////////
    // Global Data //
    /////////////////

    // A flag to tell if the displayToMainTile function is running (to prevent
    // main tile flickering)
    var displayToMainTileRunning = false;

    // a webcam object, consisting of a title and an image URL
    function webcam( title, image )
    {
        this.title = title;
        this.image = image;
    }

    // a collection of webcams
    var webcams = new Array(
        new webcam(
            "{{settings.screens_webcams.title_0}}",
            "{{settings.screens_webcams.imgAddr_0}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_1}}",
            "{{settings.screens_webcams.imgAddr_1}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_2}}",
            "{{settings.screens_webcams.imgAddr_2}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_3}}",
            "{{settings.screens_webcams.imgAddr_3}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_4}}",
            "{{settings.screens_webcams.imgAddr_4}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_5}}",
            "{{settings.screens_webcams.imgAddr_5}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_6}}",
            "{{settings.screens_webcams.imgAddr_6}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_7}}",
            "{{settings.screens_webcams.imgAddr_7}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_8}}",
            "{{settings.screens_webcams.imgAddr_8}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_9}}",
            "{{settings.screens_webcams.imgAddr_9}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_10}}",
            "{{settings.screens_webcams.imgAddr_10}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_11}}",
            "{{settings.screens_webcams.imgAddr_11}}"
        )
    );

    ///////////////////
    // Screen Events //
    ///////////////////

    this.init = function()
    {
        safelog('webcams: initializing...');

        // make images refresh themselves at the specified interval
        $(".{{screen.hash}}_img").refreshImage({
            interval: {{settings.screens_webcams.imgRefreshInterval}},
            start:true
        });

        // write and initialize tiles
        initTiles();
    }

    this.start = function()
    {
        safelog('webcams: starting...');

        // position the thumbnail tiles
        positionTiles();

        //  initialize the main tile
        displayToMainTile( 0 );
    }

    this.stop = function()
    {
        safelog('webcams: stopping...');
    }

    this.onWinResize = function() 
    {
        // position the thumbnail tiles
        positionTiles();

        //  initialize the main tile
        displayToMainTile( 0 );
    }

    ///////////////////
    // MENU COMMANDS //
    ///////////////////

    // a menu command to show the specified graph set (by name, first
    // encountered)
    this.show = function( name )
    {
        var index = null;
        
        // find the index of the webcam set by name
        for( i in webcams ){

            if( webcams[i].title == name ){
                index = i;
                break;
            }
        }

        // if the webcam is found, display it to the main tile
        if( index != null ) displayToMainTile( index );
        else safelog( "{{screen_hash}}: show: webcam set '"+name+"' not found." );
    }

    //////////////////
    // Initializers //
    //////////////////

    // initTiles()
    // Initialize and write the tiles
    function initTiles()
    {       
        for( var i=0; i < webcams.length; i++ ){

            // write top row
            if( i < webcams.length/2 )
                $("#{{screen.hash}}_thumbs").append(
                    "<div id='{{screen.hash}}_thumb_" + i +
                        "' class='{{screen.hash}}_top_thumbs " +
                        "display_img_thumb display_tile '></div>"
                );

            // write bottom row
            else
                $("#{{screen.hash}}_thumbs").append(
                    "<div id='{{screen.hash}}_thumb_" + i +
                        "' class='{{screen.hash}}_bottom_thumbs " +
                        "display_img_thumb display_tile'></div>"
                );

            // write contents
            $("#{{screen.hash}}_thumb_"+i).append(
                "<div class='display_img_thumb_caption'>" +
                    webcams[i].title +
                "</div>" + 
             
                "<img class='{{screen.hash}}_img'"+
                    "src='"+ webcams[i].image +"'"+
                    "height={{settings.screens_webcams.thumbnail_height}}"+
                    "width={{settings.screens_webcams.thumbnail_width}}>"
            );
        }
        
        // intitialize debug tile click handling
        initTileClickEvents();
    }

    // positionTiles()
    // Resizes and repositions tiles depending on thier content.
    function positionTiles()
    {
        // calculate the padding between the tiles to evently distribute them
        // across the screen
        var horizPadding =
            (screenWidth()-$("#{{screen.hash}}_thumb_0").outerWidth(true) *
            webcams.length/2)/((webcams.length/2)-1);

        // position the thumbs
        for( var i = 0; i < webcams.length/2; i++ ){

            // top row
            $("#{{screen.hash}}_thumb_" + i).css('left',
                $("#{{screen.hash}}_thumb_0").outerWidth(true) * i +
                horizPadding * i);

            // bottom row
            $("#{{screen.hash}}_thumb_"+(i+webcams.length/2)).css('left',
                $("#{{screen.hash}}_thumb_0").outerWidth(true) * i +
                horizPadding * i );
        }

        // place the tile in the middle of the screen
        $("#{{screen.hash}}_main").css('top', screenHeight()/2 -
            $("#{{screen.hash}}_main").outerHeight(true)/2);
        $("#{{screen.hash}}_main").css('left', screenWidth()/2 -
            $("#{{screen.hash}}_main").outerWidth(true)/2);
    }

    // initTileClickEvents()
    // Initialize click event handling. (NOTE: This section is for demonstration
    // purposes only. Eventually, these tile manipulations will be done via the
    // touchscreen control interface.)
    function initTileClickEvents()
    {
        $("#{{screen.hash}}_thumb_0").click(function(){displayToMainTile(0)});
        $("#{{screen.hash}}_thumb_1").click(function(){displayToMainTile(1)});
        $("#{{screen.hash}}_thumb_2").click(function(){displayToMainTile(2)});
        $("#{{screen.hash}}_thumb_3").click(function(){displayToMainTile(3)});
        $("#{{screen.hash}}_thumb_4").click(function(){displayToMainTile(4)});
        $("#{{screen.hash}}_thumb_5").click(function(){displayToMainTile(5)});
        $("#{{screen.hash}}_thumb_6").click(function(){displayToMainTile(6)});
        $("#{{screen.hash}}_thumb_7").click(function(){displayToMainTile(7)});
        $("#{{screen.hash}}_thumb_8").click(function(){displayToMainTile(8)});
        $("#{{screen.hash}}_thumb_9").click(function(){displayToMainTile(9)});
        $("#{{screen.hash}}_thumb_10").click(function(){displayToMainTile(10)});
        $("#{{screen.hash}}_thumb_11").click(function(){displayToMainTile(11)});
    }

    ///////////////////
    //  FACILITATORS //
    ///////////////////

    // displayToMainTile( tileIndex )
    // Display the specified webcam to the main tile
    function displayToMainTile( tileIndex )
    {
        // make sure only one instance of this function runs at a time
        if( !displayToMainTileRunning ){

            // set a running flag so only one function runs at a time
            displayToMainTileRunning = true;
            
            // fade out the main tile
            $("#{{screen.hash}}_main").fadeOut(function(){

                // fill the main tile with the title and the picture of the
                // specified webcam shot
                $("#{{screen.hash}}_title_main").html( 
                    webcams[tileIndex].title 
                );
                $("#{{screen.hash}}_img_main").attr( 
                    'src', webcams[tileIndex].image 
                );
                $("#{{screen.hash}}_img_main").height(
                    {{settings.screens_webcams.mainTile_height}}
                );

                // set max height and width
                $("#{{screen.hash}}_img_main").attr( 'max-height',
                    '{{settings.screens_webcams.mainTile_height}}'
                );
                $("#{{screen.hash}}_img_main").attr( 'max-width',
                    '{{settings.screens_webcams.mainTile_width}}'
                );

                // place the tile in the middle of the screen
                $("#{{screen.hash}}_main").css('top', screenHeight()/2 -
                    $("#{{screen.hash}}_main").outerHeight(true)/2);
                $("#{{screen.hash}}_main").css('left', screenWidth()/2 -
                    $("#{{screen.hash}}_main").outerWidth(true)/2);

                // fade the main tile back in
                $("#{{screen.hash}}_main").fadeIn("slow");

                // clear the running flag to allow the function to run again
                displayToMainTileRunning = false;
            });
        }
    }
    
} {{screen.hash}} = new {{screen.hash}}();
</script>
<div id="{{screen.hash}}_thumbs"></div>
<div id="{{screen.hash}}_main" class="display_img display_tile ">

    <div id="{{screen.hash}}_title_main" class="display_img_caption">
        {{settings.screens_webcams.title_mu}}
    </div>

    <img id="{{screen.hash}}_img_main" class="{{screen.hash}}_img "
        src="{{settings.screens_webcams.imgAddr_mu}}">

</div>
