<!--
    webcams.html
    by Rob McGuire-Dale, 3/7/2009
    last modified by Rob McGuire-Dale, 9/23/2009

    This screen displays the current shots of the different webcams around OSU's
    facilities.
-->
<style>
    .{{screen.hash}}_top_thumbs{
        top: 0;
    }

    .{{screen.hash}}_bottom_thumbs{
        bottom: 0;
    }
</style>
<script type="text/javascript">
function {{screen.hash}}()
{
    /////////////////
    // Global Data //
    /////////////////

    // A flag to tell if the displayToMainTile function is running (to prevent
    // main tile flickering)
    var displayToMainTileRunning = false;

    // a webcam object, consisting of a title and an image URL
    function webcam( title, image )
    {
        this.title = title;
        this.image = image;
    }

    // a collection of webcams
    var webcams = new Array(
        new webcam(
            "{{settings.screens_webcams.title_0}}",
            "{{settings.screens_webcams.imgAddr_0}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_1}}",
            "{{settings.screens_webcams.imgAddr_1}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_2}}",
            "{{settings.screens_webcams.imgAddr_2}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_3}}",
            "{{settings.screens_webcams.imgAddr_3}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_4}}",
            "{{settings.screens_webcams.imgAddr_4}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_5}}",
            "{{settings.screens_webcams.imgAddr_5}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_6}}",
            "{{settings.screens_webcams.imgAddr_6}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_7}}",
            "{{settings.screens_webcams.imgAddr_7}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_8}}",
            "{{settings.screens_webcams.imgAddr_8}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_9}}",
            "{{settings.screens_webcams.imgAddr_9}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_10}}",
            "{{settings.screens_webcams.imgAddr_10}}"
        ),
        new webcam(
            "{{settings.screens_webcams.title_11}}",
            "{{settings.screens_webcams.imgAddr_11}}"
        )
    );

    ///////////////////
    // Screen Events //
    ///////////////////

    this.init = function()
    {
        safelog('webcams: initializing...');

        // make images refresh themselves at the specified interval
        $(".{{screen.hash}}_img").refreshImage({
            interval:
                {{settings.screens_webcams.imgRefreshInterval}},
            start:true
        });

        // intitialize debug tile click handling
        initTileClickEvents();
    }

    this.start = function()
    {
        safelog('webcams: starting...');

        // position the thumbnail tiles
        positionTiles();

        //  initialize the main tile
        displayToMainTile(
            "{{settings.screens_webcams.title_mu}}",
            "{{settings.screens_webcams.imgAddr_mu}}"
        );
    }

    this.stop = function()
    {
        safelog('webcams: stopping...');
    }

    this.onWinResize = function() 
    {
        // position the thumbnail tiles
        positionTiles();

        //  initialize the main tile
        displayToMainTile(
            "{{settings.screens_webcams.title_mu}}",
            "{{settings.screens_webcams.imgAddr_mu}}"
        );
    }

    //////////////////
    // Initializers //
    //////////////////

    // positionTiles()
    // Resizes and repositions tiles depending on thier content.
    function positionTiles()
    {
        // calculate the padding between the tiles to evently distribute them
        // across the screen
        var tilePadding_horiz = (
            screenWidth() -
            $("#{{screen.hash}}_monroe").outerWidth(true) -
            $("#{{screen.hash}}_reser").outerWidth(true) -
            $("#{{screen.hash}}_mu").outerWidth(true) -
            $("#{{screen.hash}}_library").outerWidth(true) -
            $("#{{screen.hash}}_gloss").outerWidth(true) -
            $("#{{screen.hash}}_wave").outerWidth(true) )/5;

        // top row
        $("#{{screen.hash}}_reser").css('left',
            $("#{{screen.hash}}_monroe").outerWidth(true) +
            tilePadding_horiz );

        $("#{{screen.hash}}_mu").css('left',
            $("#{{screen.hash}}_monroe").outerWidth(true) +
            $("#{{screen.hash}}_reser").outerWidth(true) +
            tilePadding_horiz * 2 );

        $("#{{screen.hash}}_library").css('left',
            $("#{{screen.hash}}_monroe").outerWidth(true) +
            $("#{{screen.hash}}_reser").outerWidth(true) +
            $("#{{screen.hash}}_mu").outerWidth(true) +
            tilePadding_horiz * 3 );

        $("#{{screen.hash}}_gloss").css('left',
            $("#{{screen.hash}}_monroe").outerWidth(true) +
            $("#{{screen.hash}}_reser").outerWidth(true) +
            $("#{{screen.hash}}_mu").outerWidth(true) +
            $("#{{screen.hash}}_library").outerWidth(true) +
            tilePadding_horiz * 4 );

        $("#{{screen.hash}}_wave").css('left',
            $("#{{screen.hash}}_monroe").outerWidth(true) +
            $("#{{screen.hash}}_reser").outerWidth(true) +
            $("#{{screen.hash}}_mu").outerWidth(true) +
            $("#{{screen.hash}}_library").outerWidth(true) +
            $("#{{screen.hash}}_gloss").outerWidth(true) +
            tilePadding_horiz * 5 );

        // bottom row
        $("#{{screen.hash}}_south").css('bottom', 0 );

        $("#{{screen.hash}}_gill").css('bottom', 0 );
        $("#{{screen.hash}}_gill").css('left',
            $("#{{screen.hash}}_south").outerWidth(true) +
            tilePadding_horiz );

        $("#{{screen.hash}}_andrews").css('bottom', 0 );
        $("#{{screen.hash}}_andrews").css('left',
            $("#{{screen.hash}}_south").outerWidth(true) +
            $("#{{screen.hash}}_gill").outerWidth(true) +
            tilePadding_horiz * 2 );

        $("#{{screen.hash}}_hatfield").css('bottom', 0 );
        $("#{{screen.hash}}_hatfield").css('left',
            $("#{{screen.hash}}_south").outerWidth(true) +
            $("#{{screen.hash}}_gill").outerWidth(true) +
            $("#{{screen.hash}}_andrews").outerWidth(true) +
            tilePadding_horiz * 3 );

        $("#{{screen.hash}}_agate").css('bottom', 0 );
        $("#{{screen.hash}}_agate").css('left',
            $("#{{screen.hash}}_south").outerWidth(true) +
            $("#{{screen.hash}}_gill").outerWidth(true) +
            $("#{{screen.hash}}_andrews").outerWidth(true) +
            $("#{{screen.hash}}_hatfield").outerWidth(true) +
            tilePadding_horiz * 4 );

        $("#{{screen.hash}}_wecoma").css('bottom', 0 );
        $("#{{screen.hash}}_wecoma").css('left',
            $("#{{screen.hash}}_south").outerWidth(true) +
            $("#{{screen.hash}}_gill").outerWidth(true) +
            $("#{{screen.hash}}_andrews").outerWidth(true) +
            $("#{{screen.hash}}_hatfield").outerWidth(true) +
            $("#{{screen.hash}}_agate").outerWidth(true) +
            tilePadding_horiz * 5 );

    }

    function positionTiles_new()
    {
        // calculate the padding between the tiles to evently distribute them
        // across the screen
        var horizPadding =
            (screenWidth()-$("#{{screen.hash}}_thumb_0").outerWidth(true) *
            webcams.length/2)/((webcams.length/2)-1);

        // position the thumbs
        for( var i = 0; i < webcams.length/2; i++ ){

            // top row
            $("#{{screen.hash}}_thumb_" + i).css('left',
                $("#{{screen.hash}}_thumb_0").outerWidth(true) * i +
                horizPadding * i);

            // bottom row
            $("#{{screen.hash}}_thumb_"+(i+webcams.length/2)).css('bottom',0);
            $("#{{screen.hash}}_thumb_"+(i+webcams.length/2)).css('left',
                $("#{{screen.hash}}_thumb_0").outerWidth(true) * i +
                horizPadding * i );
        }

        // place the tile in the middle of the screen
        $("#{{screen.hash}}_main").css('top', screenHeight()/2 -
            $("#{{screen.hash}}_main").outerHeight(true)/2);
        $("#{{screen.hash}}_main").css('left', screenWidth()/2 -
            $("#{{screen.hash}}_main").outerWidth(true)/2);
    }

    // initTileClickEvents()
    // Initialize click event handling. (NOTE: This section is for demonstration
    // purposes only. Eventually, these tile manipulations will be done via the
    // touchscreen control interface.)
    function initTileClickEvents()
    {
        $("#{{screen.hash}}_monroe").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_monroe}}",
                "{{settings.screens_webcams.imgAddr_monroe}}"
            );
        });
        $("#{{screen.hash}}_reser").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_reser}}",
                "{{settings.screens_webcams.imgAddr_reser}}"
            );
        });
        $("#{{screen.hash}}_mu").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_mu}}",
                "{{settings.screens_webcams.imgAddr_mu}}"
            );
        });
        $("#{{screen.hash}}_library").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_library}}",
                "{{settings.screens_webcams.imgAddr_library}}"
            );
        });
        $("#{{screen.hash}}_gloss").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_gloss}}",
                "{{settings.screens_webcams.imgAddr_gloss}}"
            );
        });
        $("#{{screen.hash}}_wave").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_wave}}",
                "{{settings.screens_webcams.imgAddr_wave}}"
            );
        });
        $("#{{screen.hash}}_hatfield").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_hatfield}}",
                "{{settings.screens_webcams.imgAddr_hatfield}}"
            );
        });
        $("#{{screen.hash}}_agate").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_agate}}",
                "{{settings.screens_webcams.imgAddr_agate}}"
            );
        });
        $("#{{screen.hash}}_wecoma").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_wecoma}}",
                "{{settings.screens_webcams.imgAddr_wecoma}}"
            );
        });
        $("#{{screen.hash}}_south").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_south}}",
                "{{settings.screens_webcams.imgAddr_south}}"
            );
        });
        $("#{{screen.hash}}_gill").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_gill}}",
                "{{settings.screens_webcams.imgAddr_gill}}"
            );
        });
        $("#{{screen.hash}}_andrews").click(function(){
            displayToMainTile(
                "{{settings.screens_webcams.title_andrews}}",
                "{{settings.screens_webcams.imgAddr_andrews}}"
            );
        });
    }

    ///////////////////
    //  FACILITATORS //
    ///////////////////

    // displayToMainTile( title, addr )
    // Display an image at the specified address with the specified title in the
    // main tile.
    function displayToMainTile( title, addr )
    {
        // make sure only one instance of this function runs at a time
        if( !displayToMainTileRunning ){

            // set a running flag so only one function runs at a time
            displayToMainTileRunning = true;
            
            // fade out the main tile
            $("#{{screen.hash}}_main").fadeOut(function(){

                // fill the main tile with the title and the picture of the
                // specified webcam shot
                $("#{{screen.hash}}_title_main").html( title );
                $("#{{screen.hash}}_img_main").attr( 'src', addr );
                $("#{{screen.hash}}_img_main").height(
                    {{settings.screens_webcams.mainTile_height}}
                );

                // set max height and width
                $("#{{screen.hash}}_img_main").attr( 'max-height',
                    '{{settings.screens_webcams.mainTile_height}}'
                );
                $("#{{screen.hash}}_img_main").attr( 'max-width',
                    '{{settings.screens_webcams.mainTile_width}}'
                );

                // place the tile in the middle of the screen
                $("#{{screen.hash}}_main").css('top', screenHeight()/2 -
                    $("#{{screen.hash}}_main").outerHeight(true)/2);
                $("#{{screen.hash}}_main").css('left', screenWidth()/2 -
                    $("#{{screen.hash}}_main").outerWidth(true)/2);

                // fade the main tile back in
                $("#{{screen.hash}}_main").fadeIn("slow");

                // clear the running flag to allow the function to run again
                displayToMainTileRunning = false;
            });
        }
    }
    
} {{screen.hash}} = new {{screen.hash}}();
</script>

<!-- set up HTML divs for each tile ------------------------------------------->
<div id="{{screen.hash}}_mu" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_mu}}
    </div>

    <img id="{{screen.hash}}_img_mu" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_mu}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_library" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_library}}
    </div>

    <img id="{{screen.hash}}_img_library" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_library}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_monroe" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_monroe}}
    </div>

    <img id="{{screen.hash}}_img_monroe" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_monroe}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_south" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_south}}
    </div>

    <img id="{{screen.hash}}_img_south" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_south}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_reser" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_reser}}
    </div>

    <img id="{{screen.hash}}_img_reser" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_reser}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_gloss" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_gloss}}
    </div>

    <img id="{{screen.hash}}_img_gloss" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_gloss}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_gill" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_gill}}
    </div>

    <img id="{{screen.hash}}_img_gill" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_gill}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_andrews" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_andrews}}
    </div>

    <img id="{{screen.hash}}_img_andrews" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_andrews}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_hatfield" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_hatfield}}
    </div>

    <img id="{{screen.hash}}_img_hatfield" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_hatfield}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_wave" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_wave}}
    </div>

    <img id="{{screen.hash}}_img_wave" class="{{screen.hash}}_img"
        src=  "{{settings.screens_webcams.imgAddr_wave}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width= {{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_wecoma" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_wecoma}}
    </div>

    <img id="{{screen.hash}}_img_wecoma" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_wecoma}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_agate" class="display_img_thumb display_tile ">

    <div class="display_img_thumb_caption">
        {{settings.screens_webcams.title_agate}}
    </div>

    <img id="{{screen.hash}}_img_agate" class="{{screen.hash}}_img"
        src="{{settings.screens_webcams.imgAddr_agate}}"
        height={{settings.screens_webcams.thumbnail_height}}
        width={{settings.screens_webcams.thumbnail_width}}>

</div>

<div id="{{screen.hash}}_main" class="display_img display_tile ">

    <div id="{{screen.hash}}_title_main" class="display_img_caption">
        {{settings.screens_webcams.title_mu}}
    </div>

    <img id="{{screen.hash}}_img_main" class="{{screen.hash}}_img "
        src="{{settings.screens_webcams.imgAddr_mu}}">

</div>
