<style>
    div#helloScreen {
        position: absolute;
        top:10px;
        left:400px;
        background-color:#F26229;
        width:150px;
        height:150px;
        border:1px solid white;
        padding:10px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        
    }
</style>

<script type="text/javascript">
function {{screen.hash}}()
{
    /*
        Javascript functions for this view.  These are not required,
        just demonstrating how they would be used.
    */
    this.init = function() {
        // for this example just output to firebug console
        safelog('HelloScreen is initializing itself');
    };

    this.start = function() {
        // for this example just output to firebug console
        safelog('HelloScreen is starting because i was shown');
    };

    this.stop = function() {
        // for this example just output to firebug console
        safelog('HelloScreen is stopping because im being hidden');
    };
    
} {{screen.hash}} = new {{screen.hash}}();
</script>

<div id="helloScreen">
    HelloScreen<br/>
    a simple example plugin.
</div>
