<style>
    div#worldScreen {
        position: absolute;
        top:150px;
        left:400px;
        background-color:#6DDB6D;
        width:150px;
        height:150px;
        border:1px solid white;
        padding:10px;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
    }
</style>

<script type="text/javascript">
function {{screen.hash}}()
{
    /*
        Javascript functions for this view.  These are not required,
        just demonstrating how they would be used.
    */
    this.init = function() {
        // for this example just output to firebug console
        safelog('WorldScreen is initializing itself');
    };

    this.start = function() {
        // for this example just output to firebug console
        safelog('WorldScreen is starting because i was shown');
    };

    this.stop = function() {
        // for this example just output to firebug console
        safelog('World screen is stopping because im being hidden');
    };

} {{screen.hash}} = new {{screen.hash}}();
</script>

<div id="worldScreen">
    WorldScreen<br/>
    A simple example plugin
</div>
