<!--
    sponsors.html
    by Rob McGuire-Dale, 9/3/2009

    This screen displays a list of sponsors and friends.
-->

<style>
    /* debug colors for scrollers
    .cloned{ color:red; }
    .active{ color:yellow; } */

    .{{screen.hash}}_sponsor{
        margin-bottom: 1.5em;
    }

</style>

<script type="text/javascript">
function {{screen.hash}}()
{

    /////////////////
    // Global Data //
    /////////////////

    // a simple friends list
    var friends_data = new Array();

    // a list of sponsor records
    var sponsors_data = new Array();

    // a sponsors records class
    function sponsors_record( title, bodyParagraphs ){
        this.title = title; this.body = bodyParagraphs }

    // scroller plugin APIs for the friends and sponsors tiles
    var friends_scroller = null;
    var sponsors_scroller = null;

    // autoscroll timers
    var friends_autoScrollTimer = null;
    var sponsors_autoScrollTimer = null;

    ///////////////////
    // Screen Events //
    ///////////////////

    this.init = function()
    {
        safelog('sponsors: initializing...');

        // initialize the scroller plugin for the tiles
        friends_scroller =
            $( ".{{screen.hash}}_friends" ).scrollable({
                vertical:true,
                items:".display_scrollable_items_vert",
                speed:{{screen.friends_scroll_speed}},
                api:true,
            });
        sponsors_scroller =
            $( ".{{screen.hash}}_sponsors" ).scrollable({
                vertical:true,
                items:".display_scrollable_items_vert",
                speed:{{screen.sponsors_scroll_speed}},
                api:true,
            });

        // load friends and sponsors data
        loadData();
    }

    this.start = function()
    {
        safelog('sponsors: starting...');

        refreshTiles();

        // start auto scrolling
        this.friends_startAutoAdvance();
        this.sponsors_startAutoAdvance();
    }

    this.stop = function()
    {
        safelog('sponsors: stopping');

        // stop autoscrolling
        clearTimeout(friends_autoScrollTimer);
        clearTimeout(sponsors_autoScrollTimer);
    }

    this.onScreenResize = function()
    {
        refreshTiles();
    }

    ///////////////////
    // MENU COMMANDS //
    ///////////////////

/*  This isn't quite going to work because of the way the sponsors and friends
    tiles are filled: They are filled with items until there is no more visible
    space, and then the data loops, ignoring that which will not fit.
    
    // a menu command to show the specified sponsor
    this.show = function( name )
    {
        // only continue if sponsors data is loaded
        if( sponsors_data.length > 0 ){

            var index = null;
            // find the specified sponsor (first-encountered)
            sponsors_scroller.getItems().each( function( sponsor ){

                alert( $(this).children().html() );
                
                if( name == $(this).children().html() && index == null ){
                    index = sponsor;
                }
            });

            alert( index );
            
        } else
            safelog("sponsors: show command failed. Sponsors data not yet " +
                "loaded.");
    }

    // displays a sponsor to the popup
    function selectSponsor( index )
    {
    }
*/
    
    //////////////////////
    // Auto Advancement //
    //////////////////////

    this.friends_startAutoAdvance = function()
    // begin auto-advancement for the friends tile
    {
        // grab the scroll interval value
        var interval = {{screen.friends_scroll_interval}};

        // Ensure the interval is at least 50 ms > than the advancement speed
        if( {{screen.friends_scroll_speed}} > interval - 50 )
            interval = {{screen.friends_scroll_speed}} + 50;


        // Make sure scolling starts in the middle of the list
        if( friends_scroller.getClickIndex() == -1 )
            friends_scroller.click( friends_scroller.getConf().size/2 );

        // Otherwise, advance to the next friend. Tuned to work with circular
        // plugin.
        else
            friends_scroller.click(
                friends_scroller.getClickIndex() -
                friends_scroller.getConf().size + 1
            );

        friends_autoScrollTimer =
            setTimeout('{{screen.hash}}.friends_startAutoAdvance()', interval );
    }

    this.sponsors_startAutoAdvance = function()
    // begin auto-advancement for the sponsors tile
    {
        // grab the scroll interval value
        var interval = {{screen.sponsors_scroll_interval}};

        // Ensure the interval is at least 50 ms > than the advancement speed
        if( {{screen.sponsors_scroll_speed}} > interval-50 )
            interval = {{screen.sponsors_scroll_speed}} + 50;


        // Make sure scolling starts in the middle of the list
        if( sponsors_scroller.getClickIndex() == -1 )
            sponsors_scroller.click( sponsors_scroller.getConf().size/2 );

        // Otherwise, advance to the next friend. Tuned to work with circular
        // plugin.
        else sponsors_scroller.click( sponsors_scroller.getClickIndex() -
                 sponsors_scroller.getConf().size + 1 );

        sponsors_autoScrollTimer =
            setTimeout('{{screen.hash}}.sponsors_startAutoAdvance()', interval);
    }

    //////////////////
    // Tile Refresh //
    //////////////////

    function refreshTiles()
    // Refresh the tiles depending on screen size
    {
        safelog( "sponsors: refreshing tiles." );

        // reposition the tiles
        positionTiles();

        // if the data is loaded, fill the tiles
        var dataLoaded = sponsors_data.length > 0 && friends_data.length > 0;

        if( dataLoaded ){
            updateFriendsTile();
            updateSponsorsTile();
        } else
            safelog( "sponsors: tiles NOT refreshed because data " +
                "isn't loaded yet." );
    }

    function updateFriendsTile()
    // re-fill the friends tile and calculate new page size for scroller
    {
        var curHeight = 0;   // to hold the height of the current item
        var totalHeight = 0; // total height of the items written
        var itemCount = 0;   // number of items written

        // grab the height of the container tile
        var tileHeight = $(".{{screen.hash}}_friends").height();
        safelog( "sponsors: tile height: " + tileHeight );

        // clear the friends list
        friends_scroller.getItems().remove();

        // Fill up the tile with items, wrapping if necessary
        while( totalHeight < tileHeight ){

            //safelog( "sponsors: writing friend # " + itemCount );

            // Add the next item, wrapping to the first if necessary
            friends_scroller.getItemWrap().append(
                "<p class='{{screen.hash}}_friend_"+itemCount+"'>" +
                friends_data[
                    itemCount % friends_data.length ] +
                "</p>"
            );

            // the *actual* height each item takes up, as positioned by the
            // scollable plugin (as observed by firebug)
            curHeight =
                $(".{{screen.hash}}_friend_" + itemCount ).innerHeight() +
                ($(".{{screen.hash}}_friend_" + itemCount ).outerHeight(true)-
                $(".{{screen.hash}}_friend_" + itemCount ).innerHeight())/2;
            //safelog( "sponsors: current itemheight: " + curHeight );

            // add to the running height total
            totalHeight += curHeight;
            //safelog( "sponsors: current total height: " + 
            //  totalHeight );

            // increment the number of items in the written list
            itemCount++;
        }
        safelog( "sponsors: total friends height: " + totalHeight );

        // update the scroller to include the new items
        friends_scroller.reload();

        // set new tile page size for the scroller
        friends_scroller.getConf().size = itemCount;
        safelog( "sponsors: Friends written: "+ itemCount );

        // make the scroller circular
        $( ".{{screen.hash}}_friends" ).circular();
    }

    function updateSponsorsTile()
    // re-fill the sponsors tile and calculate new page size for scroller
    {
        var curHeight = 0;   // to hold the height of the current item
        var totalHeight = 0; // total height of the items written
        var itemCount = 0;   // number of items written

        // grab the size of the data
        var dataLength = sponsors_data.length;

        // grab the height of the container tile
        var tileHeight = $(".{{screen.hash}}_sponsors").height();
        safelog( "sponsors: sponsors tile height: " + tileHeight );

        // clear the sponsors list
        sponsors_scroller.getItems().remove();

        // Fill up the tile with items, wrapping if necessary
        while( totalHeight < tileHeight ){

            //safelog( "sponsors: writing sponsor # " + itemCount );

            // Add the next title, wrapping to the first if necessary
            sponsors_scroller.getItemWrap().append(
                "<div class='{{screen.hash}}_sponsor {{screen.hash}}_sponsor_" +
                itemCount+"'><h1>" + sponsors_data[
                    itemCount % dataLength ].title +
                "</h1></div>"
            );

            // Add the next bodies, wrapping to the first if necessary
            for( var i = 0; 
                i < (sponsors_data[ itemCount % dataLength ].body.length); 
                i++ ){
                    
                $(".{{screen.hash}}_sponsor_"+itemCount).append(
                    "<p>" +
                    sponsors_data[itemCount%dataLength].body[i] +
                    "</p>"
                );
            }

            // the *actual* height each item takes up, as positioned by the
            // scollable plugin (as observed by firebug)
            curHeight =
                $(".{{screen.hash}}_sponsor_" + itemCount ).innerHeight() +
                ($(".{{screen.hash}}_sponsor_" + itemCount ).outerHeight(true)-
                $(".{{screen.hash}}_sponsor_" + itemCount ).innerHeight())/2;
            //safelog( "sponsors: current sponsor height: " + curHeight );

            // add to the running height total
            totalHeight += curHeight;
            //safelog( "sponsors: current sponsors total height: " + 
            //    totalHeight );

            // increment the number of items in the written list
            itemCount++;
        }
        safelog( "sponsors: total sponsors height: " + totalHeight );

        // update the scroller to include the new items
        sponsors_scroller.reload();

        // set new tile page size for the scroller
        sponsors_scroller.getConf().size = itemCount;
        safelog( "sponsors: Sponsors written: "+ itemCount );

        // make the scroller circular
        $(".{{screen.hash}}_sponsors").circular();
    }

    //////////////////////
    // Tile Positioning //
    //////////////////////

    function positionTiles()
    // Re-position and re-size the tiles depending on screen size
    {
        // set the width of the bottom tiles per the settings
        $('.{{screen.hash}}_sponsors').width(
            {{settings.general.MAX_OPTIMAL_WIDTH}});
        $('.{{screen.hash}}_friends').width(
            {{screen.friends_width}});

        // if the total tile width is too large to fit in the window,
        // resize the sponsors tile dynamically
        if( $('.{{screen.hash}}_friends').outerWidth( true ) +
            $('.{{screen.hash}}_sponsors').outerWidth( true ) >
            screenWidth() ){

            $('.{{screen.hash}}_sponsors').width( screenWidth() -
                $('.{{screen.hash}}_friends').outerWidth( true ) -
                ( $('.{{screen.hash}}_sponsors').outerWidth( true ) -
                $('.{{screen.hash}}_sponsors').width() ) );
        }

        // position the bottom tiles
        $('.{{screen.hash}}_friends').css('top',
            $('.{{screen.hash}}_title').outerHeight( true ) );
        $('.{{screen.hash}}_friends').css('left', 0 );
        $('.{{screen.hash}}_sponsors').css('top',
            $('.{{screen.hash}}_title').outerHeight( true ) );
        $('.{{screen.hash}}_sponsors').css('left',
            $('.{{screen.hash}}_friends').outerWidth( true ) );

        // set the height of the bottom tiles
        $('.{{screen.hash}}_sponsors').height( screenHeight() -
            $('.{{screen.hash}}_title').outerHeight(true) -
            $('.{{screen.hash}}_sponsors').outerHeight(true) +
            $('.{{screen.hash}}_sponsors').height());
        $('.{{screen.hash}}_friends').height( screenHeight() -
            $('.{{screen.hash}}_title').outerHeight(true) -
            $('.{{screen.hash}}_friends').outerHeight(true) +
            $('.{{screen.hash}}_friends').height());

        // size the title width to match the width of the bottom tiles
        $('.{{screen.hash}}_title').width(
            $('.{{screen.hash}}_friends').outerWidth( true ) +
            $('.{{screen.hash}}_sponsors').outerWidth( true ) -
            ( $('.{{screen.hash}}_title').outerWidth( true ) -
            $('.{{screen.hash}}_title').width() ) );

        // center the tiles
        $('.{{screen.hash}}_title').css( 'left', screenWidth()/2 -
            $('.{{screen.hash}}_title').outerWidth( true )/2 );
        $('.{{screen.hash}}_friends').css( 'left',
            parseInt( $('.{{screen.hash}}_title').css( 'left' ) ) );
        $('.{{screen.hash}}_sponsors').css( 'left',
            parseInt( $('.{{screen.hash}}_title').css( 'left' ) ) +
            $('.{{screen.hash}}_friends').outerWidth( true ) );

        // position and size gradient overlays
        $('#{{screen.hash}}_sponsors_gradient').css( 'z-index', 1 );
        $('#{{screen.hash}}_sponsors_gradient').css( 'top',
            -( $('#{{screen.hash}}_sponsors_gradient').outerHeight( true ) -
            $('#{{screen.hash}}_sponsors_gradient').height() ) );
        $('#{{screen.hash}}_sponsors_gradient').css( 'left',
            4-( $('#{{screen.hash}}_sponsors_gradient').outerWidth( true ) -
            $('#{{screen.hash}}_sponsors_gradient').width() ) );
        $('#{{screen.hash}}_sponsors_gradient').height(
            $('.{{screen.hash}}_sponsors').outerHeight( ) );
        $('#{{screen.hash}}_sponsors_gradient').width(
            $('.{{screen.hash}}_sponsors').outerWidth( )-8 );

        $('#{{screen.hash}}_friends_gradient').css( 'z-index', 1 );
        $('#{{screen.hash}}_friends_gradient').css( 'top',
            -( $('#{{screen.hash}}_friends_gradient').outerHeight( true ) -
            $('#{{screen.hash}}_friends_gradient').height() ) );
        $('#{{screen.hash}}_friends_gradient').css( 'left',
            4-( $('#{{screen.hash}}_friends_gradient').outerWidth( true ) -
            $('#{{screen.hash}}_friends_gradient').width() ) );
        $('#{{screen.hash}}_friends_gradient').height(
            $('.{{screen.hash}}_friends').outerHeight( ) );
        $('#{{screen.hash}}_friends_gradient').width(
            $('.{{screen.hash}}_friends').outerWidth( )-8 );
    }

    //////////////////
    // Data Loading //
    //////////////////

    function loadData()
    // Load the friends and sponsors data from the specified remote URLs
    {
        // RegEx object representing the body and it's <p></p> delimiters
        var bodyPattern = /\<\s*p\s*\>.*<\s*\/\s*p\s*\>/g;

        // RegEx opject representing anchor tags
        var anchorOpenPattern = /<\s*a.*?>/g;
        var anchorClosePattern = /<\s*\/\s*a\s*>/g;

        // grab and load sponsors XML file through a simple proxy to circumvent
        // browser security model restrictions regarding AJAX GET requests to
        // remote servers
        $.get('/proxy/',
            {'url':'{{screen.sponsors_URL}}'}, 
            function( sponsors_XML ){

            // temporary title and body storage
            var parsedTitle = null;
            var parsedBody = null;

            // for each item...
            $(sponsors_XML).find("item").each( function( curItemIndex ){

                // load the title
                parsedTitle = $(this).find("title").text();
                safelog( "sponsors: loading sponsor title: " +
                    parsedTitle );

                // load the body, and strip any anchor tags
                parsedBody =
                    $(this).find("description").text()
                    .replace(anchorOpenPattern, "")
                    .replace(anchorClosePattern, "")
                    .match(bodyPattern);

                safelog( "sponsors: loading sponsor body: " +
                    parsedBody );

                // push a new record with the loaded data
                sponsors_data.push(
                    new sponsors_record( parsedTitle, 
                        parsedBody ) 
                );
            });

            // force a refresh after the data is loaded
            refreshTiles();
        });
        
        // load the friends through the simple proxy and into the friends list
        $.get('/proxy/',
            {'url':'{{screen.friends_URL}}' },
            function( friends_XML ){
            
            // temp name storage
            var parsedName = null;
            
            // for each friend name encountered...
            $( friends_XML ).find(".friend-name").each( function(){
                
                // load the name, and strip any anchor tags
                parsedName = $(this).text().replace(anchorOpenPattern, "")
                    .replace(anchorClosePattern, "");;
                safelog( "sponsors: loading friend name:" + parsedName );
                
                // push name onto the names stack
                friends_data.push( parsedName );
            });
            
            // force a refresh after the data is loaded
            refreshTiles();
        });
    }
    
} {{screen.hash}} = new {{screen.hash}}();
</script>

<div class="display_tile display_title {{screen.hash}}_title">
    OSL Sponsors
</div>

<div class="{{screen.hash}}_friends display_tile display_content">
    <img id='{{screen.hash}}_friends_gradient'
         class='display_gradient'
         src="{{MEDIA}}/screens.sponsors/gradient.png">
    <div class='display_scrollable_items_vert'>
        <!-- to be filled by refresh code above -->
    </div>
</div>

<div class="{{screen.hash}}_sponsors display_tile display_content">
    <img id='{{screen.hash}}_sponsors_gradient'
         class='display_gradient'
         src="{{MEDIA}}/screens.sponsors/gradient.png">
    <div id='{{screen.hash}}_sponsors_items' 
        class='display_scrollable_items_vert'>
        <!-- to be filled by refresh code above -->
    </div>
</div>

