<!--
    osl_about.html
    by Rob McGuire-Dale, 3/7/2009
    last modified by Rob McGuire-Dale, 12/31/2009
    
    This screen displays infomation about the Open Source Lab.
-->

<style>
    #osl_about_edRayImg{
        float:right;
        margin:1em;
    }
</style>

<script type="text/javascript">

function osl_about()
{
    ////////////
    // Events //
    ////////////
    
    this.init = function()
    {
        safelog('osl_about: initializing...');

        osl_about_refreshTiles();
    }

    this.start = function()
    {
        safelog('osl_about: starting...');
        
        osl_about_refreshTiles();
    }

    this.stop = function()
    {
        // output some debug info to the firebug console
        safelog('osl_about: stopping...');
    }
    
    this.onWinResize = function()
    {
        osl_about_refreshTiles();
    }
    
    
    //////////////////
    // Facilitators //
    //////////////////
    
    function osl_about_refreshTiles() {

        // if the optimal reading with fits inside the screen size
        if( {{settings.general.MAX_OPTIMAL_WIDTH}} <= screenWidth() ){

            // size the tiles to global optimal reading width
            $("#osl_about_title").width(
                {{settings.general.MAX_OPTIMAL_WIDTH}} -
                ($("#osl_about_title").outerWidth(true) -
                $("#osl_about_title").width())
            );
            
            $("#osl_about_body").width(
                {{settings.general.MAX_OPTIMAL_WIDTH}} -
                ($("#osl_about_body").outerWidth(true) -
                $("#osl_about_body").width())
            );
            
            // horizontally center the tiles
            $("#osl_about_title").css('left', screenWidth()/2 - 
                $("#osl_about_title").outerWidth(true)/2 );
            
            $("#osl_about_body").css('left', screenWidth()/2 - 
                $("#osl_about_body").outerWidth(true)/2 );

        // squeeze the tiles
        } else {

            $("#osl_about_title").width(
                screenWidth() -
                ($("#osl_about_title").outerWidth(true) -
                $("#osl_about_title").width())
            );
            
            $("#osl_about_body").width(
                screenWidth() -
                ($("#osl_about_body").outerWidth(true) -
                $("#osl_about_body").width())
            );
        }
        
        // Horizontally position the body tile so it's exactly in-between the 
        // bottom of the title, and the bottom of the screen
        $("#osl_about_body").css('top', 
            (screenHeight()-$("#osl_about_title").outerHeight(true))/2 - 
            ($("#osl_about_body").outerHeight(true))/2 +
            $("#osl_about_title").outerHeight(true)-
            ($("#osl_about_title").outerHeight(true)-
            $("#osl_about_title").outerHeight())/4);
        

    }
    
} osl_about = new osl_about();

</script>

<div id="osl_about_title" class="display_title display_tile">
    About the OSL
</div>

<div id="osl_about_body" class="display_tile display_content">

    <img id="osl_about_edRayImg" 
        src="{{SITE_ROOT}}/static/screens/osl_about/EdRay.png">

    <p>
        The Oregon State University Open Source Lab is the home of growing, high-impact open source communities. Its world-class hosting services enable the Linux operating system, Apache web server, the Drupal content management system and over 50 other leading open source software projects to collaborate with contributors and distribute software to millions of users globally. Through custom software development, vendor partnerships and industry events like the Government Open Source Conference (GOSCON), the Lab's staff and students encourage open source adoption in education, government, health care and other sectors.
    </p>
    
    <h1>Mission</h1>
    <p>
        The mission of the Oregon State University Open Source Lab is to accelerate the growth of high-impact open source software projects worldwide through professional hosting services, custom development and industry expertise provided by the staff and students of Oregon State University.
    </p>
    
    <h1>More Information</h1>
    <p>
        For more information, please visit http://osuosl.org.
    </p>
</div>
