<!--
    screen_wifi_bandwidth.html
    by Rob McGuire-Dale, 9/22/2009
    
    This screen displays a graphical representation of the bandwidth usage of
    the wifi access points around campus.
-->

<style> 
    /* set up image style */
	#screen_wifi_bandwidth_img {
	    display: block;
        margin-left: auto;
	    margin-right: auto;
	    vertical-align: middle;
        border: black double;
</style>

<script type="text/javascript">

    // for restoring the window.resize event pointer
    var winResizeEventPointer;

    function screen_wifi_bandwidth_init() {
        safelog('screen_wifi_bandwidth initializing...');
    
        // make the image refresh itself at the specified interval
		$("#screen_wifi_bandwidth_img").refreshImage({
            interval:
                {{settings.screen_wifi_bandwidth_screen_wifi_bandwidth.imgRefreshInterval}},
            start:true
        });
    }

    function screen_wifi_bandwidth_start() {
        safelog('screen_wifi_bandwidth starting...');
        
        // capture the window.resize event pointer so it can be restored later
        // and set window.resize event to scale the the wifi image
        winResizeEventPointer = window.onresize;
        window.onresize = function(){
            $("#screen_wifi_bandwidth_img").scale("center","stretch");
        }

        // scale the wifi bandwidth image to fit inside the parent
        $("#screen_wifi_bandwidth_img").scale("center","stretch");
    }
    
    function screen_wifi_bandwidth_stop() {
        safelog('screen_wifi_bandwidth stopping');
        
        //restore the window.resize event pointer
        window.onresize = winResizeEventPointer;
    }
    
</script>

<!-- set up the wifi bandwidth map image -------------------------------------->
<img id="screen_wifi_bandwidth_img"
     src="{{settings.screen_wifi_bandwidth_screen_wifi_bandwidth.img_addr}}"
>
